<div class="Background">
	<div class="About">
		<h2>Member Login</h2>

		<form action="/session"  method="POST">
		<center>
		<table border="0" cellpadding="10" class="form">
			<tr>
					<td>Your Email Address:</td>
					<td><input class="input" type="email" name="email" required></td>
			</tr>
			<tr>
					<td>Your Password:</td>
					<td> <input class="input" type="password" name="password" required></td>
			</tr>
		</table></br></br>
		<button>Log In</button>
		</center>
		</form>
	</div>
</div>