<div class="Background">
	<div class="About">
		<h2>About PSS</h2>
		<%= image_tag "Rehearsal.jpg" %>

		<p>The Park Slope Singers is a congenial group of about 60 people who like to sing and who get together weekly to make music. We rehearse on Monday evenings in the lower level of St. Saviour Church, at the corner of 8th Avenue and 6th Street in Park Slope, Brooklyn. We perform in concert twice a year, usually in January and June, and each concert is followed by a reception with refreshments that the singers provide.</p>

		<a class="history-link" href="/history">Park Slope Singers History</a>

		<br>
		<br>

		<hr id="line1">
		<hr id="line2">

		<h2>Our Directors</h2>

		<h3>Dusty Francis, Music Director</h3>
		<img id="dusty" src="<%= image_path "dusty_francis.jpg" %>">
		<p>Conductor and bass-baritone Dusty Francis enjoys an active career as a performer, clinician, and adjudicator in the New York metropolitan area and across the country. Reflecting his diverse interests, Francis has conducted a breadth of ensembles, including high school, church, community, and university choirs, orchestras, and opera choruses. He currently serves as Music Director of the Park Slope Singers and of the Ars Musica Chorale; Assistant Conductor of the New York City Master Chorale; and Choirmaster and Organist at All Saints Episcopal Church in Leonia, New Jersey. Francis holds the Master of Music degree in Choral Conducting from the University of Maryland, where he studied with Edward Maclary and James Ross.</br></br>

		When not on the conducting podium, Francis can often be heard singing with some of the country’s finest professional choral ensembles, including True Concord (formerly the Tucson Chamber Artists), the Atlanta-based Skylark Vocal Ensemble, and the Manhattan Chorale. He has sung under such visionary conductors as Helmuth Rilling, Christoph Eschenbach, Matthew Halls, Paul Goodwin, and Rinaldo Alessandrini in such revered venues as Alice Tully Hall at Lincoln Center, Carnegie Hall, The Kennedy Center, Chartres Cathedral, and The National Theater of Korea.</br></br>

		In addition to his Master’s degree in Choral Conducting from the University of Maryland, Francis earned a Bachelor’s degree in Music Education from Xavier University in Cincinnati, graduating summa cum laude. He is a member of the American Choral Directors Association and the National Association for Music Education. A native of Ohio, he currently resides in Manhattan.</p>
		<h3>Alison Deane, Pianist</h3>
		<p>Alison Deane has performed extensively as both a soloist and as a chamber musician across the US, Canada, and Europe. A native New Yorker, she holds both Bachelors and Masters degrees from the Manhattan School of Music, and is the recipient of numerous awards and prizes. She has performed critically acclaimed New York solo recitals at Merkin Hall, Carnegie Recital Hall, and Alice Tully Hall, chamber music at Avery Fisher Hall and the 92nd Street Y, and concerti with the National Symphony, Buffalo Philharmonic, and the Brooklyn Philharmonic.</br> 
		</br>
		A recipient of soloist grants from the National Endowment for the Arts and the Martha Baird Rockefeller Foundation, Miss Deane was also the subject of two television programs filmed in Germany for the Norddeutscher Rundfunk and was featured in a national commercial spot for United Airlines titled "The Concert Pianist," performing Gershwin's <em>Rhapsody in Blue</em>. Since 1988, Alison Deane has served as Associate Professor of Music at the City College of New York and the CUNY Graduate Center. She lives in Park Slope with her husband, jazz pianist Arturo O'Farrill, and their two musician sons, Adam and Zack.</p>
	</div>
</div>