<div class="Background">
  <div class="About">
    <h2>About PSS</h2>
    <img id="rehearsal" src="<%= image_path "full_choir_2017.jpg" %>">

    <p>The Park Slope Singers is a congenial group of about 60 people who like to sing and who get together weekly to make music. We rehearse regularly on Monday evenings at Greenwood Baptist Church on 7th Avenue in Park Slope, Brooklyn. We perform in concert twice a year, usually in January and June, and each concert is followed by a reception with refreshments that the singers provide.</p>

    <a class="history-link" href="/history">Park Slope Singers History</a>

    <br>
    <br>

    <hr id="line1">
    <hr id="line2">

    <h2>Our Directors</h2>

    <h3>Elena Williamson, Music Director</h3>
    <p>Soprano Elena Williamson comes to us by way of Greenwich, CT. She played cello in every orchestra and enrolled in every available music class offered throughout her early educational years. A graduate of Westminster Choir College, she excelled as a vocalist in church music while applying her skills as a cellist to collaborative continuo and chamber groups.</p>

    <p>Elena had just begun her Master’s degree in Irvine, CA when she was approached to audition for the conducting department. Much to her surprise, she found it as enjoyable as it was challenging to apply her natural talents in this new musical arena. Soon thereafter, she lead a Renaissance dinner and also took her first directing job at a church in Orange County. She conducted the elite choirs there and got some podium time in front of the orchestra - this was fun!</p>

    <p>Upon her return to the East coast, Elena continued to sing professionally and began to direct children’s choirs in Connecticut and New York. She has prepared choirs for the New York Philharmonic and the LA Philharmonic, working closely with Esa-Pekka Salonen. She was also an off-stage conductor for <em>Grendel</em> at the NY State Theatre, for Lorin Mazel’s presentation of <em>Elektra</em>, and for an onstage performance with The Rolling Stones. She now sings all over the world with The Choir of Trinity Wall Street, Musica Sacra, Tenet, Ghostlight, and Beth Morrison Projects among many others, but conducting choirs will always be an important part of her musical life.</p>

    <h3>Bálint Varga, Accompanist</h3>

    <img class="director" src="<%= image_path "balint_varga.png" %>">

    <p>Bálint Varga is an award-winning theatre composer, conductor and arranger originally from Budapest, Hungary. Writing credits: <em>The Brothers Houdini</em>, <em>White Witch of Rosehall</em>, <em>Why Don’t I Have a Girlfriend?</em>, <em>Gailley and the Tale of the Fate Keeper</em>, <em>Dangersparkle and the Lion</em>, <em>Darlings of Broadway</em>, and <em>Hooligans</em>.</p>

    <p>Music direction credits: Broadway Dreams Foundation; 50th Anniversary of <em>Hair</em> at LaMama, BDF Moscow, and US tour; <em>Jesus Christ Superstar</em>; <em>The Wiz</em>; <em>Aida</em>; <em>I Love You, You’re Perfect...!</em> (China Tour); <em>A Little Princess</em>; <em>West Side Story</em>; <em>Oliver!</em>; <em>Assassins</em>. International credits: <em>Oliver!</em> (France); <em>Jekyll and Hyde</em> (Austria); <em>Fiddler on the Roof</em> (Hungary); <em>Chess</em> (Hungary); <em>Jesus Christ Superstar</em> (Hungary); <em>They’re Playing Our Song</em> (Hungary); Roman Polanski’s <em>Dance of the Vampires</em> (Hungary/Belgium/Russia).</p>

    <p>He has given concerts at Symphony Hall, Carnegie Hall, Lincoln Center, 54 Below, and LaMama. A graduate of Berklee College of Music where he studied composition and conducting, he’s a proud member of BMI Lehman Engel Musical Theatre Workshop. He is the rehearsal pianist for the Park Slope Singers.</p>

    <!-- Tim's Biography -->

    <!-- <img class="director" src="<%= image_path "timothy_parsons.jpg" %>"> -->
    <!-- <p>Timothy Parsons, countertenor and conductor, is active as both soloist and ensemble singer in New York City, having performed with the Clarion Music Society, the Saint Thomas Fifth Avenue Choir of Men & Boys, the Choir of St Ignatius Loyola. He is currently a member of the Grammy nominated Choir of Trinity Wall Street. As a soloist he has been lauded for his “authority, ease, and elegant exuberance” and his singing has been praised by the New York Times as “particularly expressive, singing with pure, free tone.” As a performer of works old and new, Timothy is conﬁdent and comfortable pushing the envelope as an interpreter.<br><br>

    On the subject of his recent performances of Handel’s <em>Messiah</em> with Trinity Wall Street, the New York Times hailed “…a more pronounced willingness to take risks. The countertenor Timothy Parsons belted out the ﬁnal words of ‘But Who May Abide’ in full, startling chest voice.” The 2016-2017 season includes international performances in Russia, the United Kingdom, Canada, Cuba, and Panama. Timothy will make appearances as soloist in Handel’s Messiah in Mechanics Hall in Worcester, Massachusetts, as soloist in Bach’s B Minor Mass in the Montreal Bach Festival, Bach’s John Passion with New York Baroque Incorporated. He will appear with the Clarion Choir in their groundbreaking tour giving the Russian Premieres of Steinberg’s Passion Week, and will return to Havana’s Musica Antigua festival.<br><br>

    Recent solo engagements have included Handel’s <em>Messiah</em> with Trinity and with the Stamford Symphony, Bernstein’s <em>Missa Brevis</em> for the Sacred Music in a Sacred Space series, and frequent appearances on Trinity’s acclaimed Bach at One series, for which he was praised as an “excellent vocal soloist.” In 2015 Timothy made his debut with the PROTOTYPE Festival, performing in the world premiere of Du Yun and Royce Vavrek’s <em>Angel’s Bone</em>. Previous seasons have included a national tour of Monteverdi’s <em>1610 Vespers</em> with Apollo’s Fire, Handel’s <em>Saul</em> at the Twelfth Night Festival, Rachmaninov’s <em>Vespers</em> at the Quebec Festival with the Clarion Music Society, a concert of Bach, Pärt, and Ligeti at Bargemusic with the Knights, and the world premiere of Michael Harrison’s <em>Tesselations</em> with Contemporaneous. Timothy holds degrees from the Manhattan School of Music in Classical Voice Performance (BM) and Choral Conducting (MM.) He spent his formative years in historic Lexington, Massachusetts and Moultonborough, New Hampshire, and now resides in New York City.</p> -->
  </div>
</div>
