<div class="Background">
	<div class="About">
	<h2>About PSS</h2>
	<%= image_tag "Rehearsal.jpg" %>
		<p>The Park Slope Singers is a congenial group of about 60 people who like to sing and who get together weekly to make music. We rehearse on Monday evenings in the lower level of St. Saviour Church, at the corner of 8th Avenue and 6th Street in Park Slope, Brooklyn. We perform in concert twice a year, usually in January and June, and each concert is followed by a reception with refreshments that the singers provide.</p>
		<h2>Our Directors</h2>

		<h3>Ira Spaulding, Music Director</h3>
		<img id="ira" src="<%= image_path "ira.jpg" %>">
		<p>Ira Spaulding received his Bachelor of Music from Westminster Choir College and Masters of Music in Voice and Choral Conducting from Eastern Kentucky University.</br> 
		</br>
		Living in Europe from 1981 to 2008, he worked as a choral conductor, soloist, and teacher. Jessye Norman asked him to sing the baritone role in a production and recording in Paris of <em>Great Day in the Morning</em> and in the following year, 1983, he made his debut as a concert singer in the Concertgebouw, singing the solos in Handel's <em>Messiah</em> with the Amsterdam Philharmonisch Orkest.</br> 
		</br> 
		As a concert singer, he has been heard in such works as the Passions of J. S. Bach and the requiems of Brahms, Faure, Mozart, and Verdi, the Elijah and St. Paul oratorios of Mendelssohn, in addition to the musicals <em>Porgy and Bess</em>, <em>Showboat</em>, and <em>Oklahoma</em>. He has given recitals in Europe, Russia, the Middle East, northern Africa, and Asia - more than 50 countries in all since 1998.</br>
		</br>
		Mr. Spaulding has given vocal master classes and choral workshops in various parts of the world. He conducted the Netherlands Radio Chorus and the oratorio choir of the University of Amsterdam for 10 years, with programs including Beethoven's <em>Missa Solemnis</em>, Stravinky's <em>Symphony of Psalms</em>, Brahms' <em>Schicksalslied</em>, Lindberg's <em>Requiem</em>, and J. S. Bach's <em>Magnificat</em>, and was the artistic director/conductor of the Chamber Choir VOCOZA. He taught at the Conservatory of Amsterdam for 20 years and is the Choral/Vocal Professor at City College.</p>
		<h3>Alison Deane, Pianist</h3>
		<p>Alison Deane has performed extensively as both a soloist and as a chamber musician across the US, Canada, and Europe. A native New Yorker, she holds both Bachelors and Masters degrees from the Manhattan School of Music, and is the recipient of numerous awards and prizes. She has performed critically acclaimed New York solo recitals at Merkin Hall, Carnegie Recital Hall, and Alice Tully Hall, chamber music at Avery Fisher Hall and the 92nd Street Y, and concerti with the National Symphony, Buffalo Philharmonic, and the Brooklyn Philharmonic.</br> 
		</br>
		A recipient of soloist grants from the National Endowment for the Arts and the Martha Baird Rockefeller Foundation, Miss Deane was also the subject of two television programs filmed in Germany for the Norddeutscher Rundfunk and was featured in a national commercial spot for United Airlines titled "The Concert Pianist," performing Gershwin's <em>Rhapsody in Blue</em>. Since 1988, Alison Deane has served as Associate Professor of Music at the City College of New York and the CUNY Graduate Center. She lives in Park Slope with her husband, jazz pianist Arturo O'Farrill, and their two musician sons, Adam and Zack.</p>
	</div>
</div>