<div class="Background">
  <div class="About">
    <h2>About PSS</h2>
    <img id="rehearsal" src="<%= image_path "rehearsal.jpg" %>">

    <p>The Park Slope Singers is a congenial group of about 60 people who like to sing and who get together weekly to make music. We rehearse on Monday evenings in the lower level of St. Saviour Church, at the corner of 8th Avenue and 6th Street in Park Slope, Brooklyn. We perform in concert twice a year, usually in January and June, and each concert is followed by a reception with refreshments that the singers provide.</p>

    <a class="history-link" href="/history">Park Slope Singers History</a>

    <br>
    <br>

    <hr id="line1">
    <hr id="line2">

    <h2>Our Directors</h2>

    <h3>Dusty Francis, Music Director</h3>
    <img class="director" src="<%= image_path "dusty_francis.jpg" %>">
    <p>Conductor and bass-baritone Dusty Francis enjoys an active career as a performer, clinician, and adjudicator in the New York metropolitan area and across the country. Reflecting his diverse interests, Francis has conducted a breadth of ensembles, including high school, church, community, and university choirs, orchestras, and opera choruses. He currently serves as Music Director of the Park Slope Singers and of the Ars Musica Chorale; Assistant Conductor of the New York City Master Chorale; and Choirmaster and Organist at All Saints Episcopal Church in Leonia, New Jersey. Francis holds the Master of Music degree in Choral Conducting from the University of Maryland, where he studied with Edward Maclary and James Ross.</br></br>

    When not on the conducting podium, Francis can often be heard singing with some of the country’s finest professional choral ensembles, including True Concord (formerly the Tucson Chamber Artists), the Atlanta-based Skylark Vocal Ensemble, and the Manhattan Chorale. He has sung under such visionary conductors as Helmuth Rilling, Christoph Eschenbach, Matthew Halls, Paul Goodwin, and Rinaldo Alessandrini in such revered venues as Alice Tully Hall at Lincoln Center, Carnegie Hall, The Kennedy Center, Chartres Cathedral, and The National Theater of Korea.</br></br>

    In addition to his Master’s degree in Choral Conducting from the University of Maryland, Francis earned a Bachelor’s degree in Music Education from Xavier University in Cincinnati, graduating summa cum laude. He is a member of the American Choral Directors Association and the National Association for Music Education. A native of Ohio, he currently resides in Manhattan.</p>

    <h3>Travis Horton, Pianist</h3>
    <img class="director" src="<%= image_path "travis.jpg" %>">
    <p>Pianist Travis Horton made his performance debut at age fifteen with the Five Platters of international renown at the Dorton Arena to a crowd of over 7,500 people. Mr. Horton is currently a staff pianist at NYU's Steinhardt and Tisch Schools, the National Dance Instute, and the Brooklyn Youth Chorus.</p>

    <p>Mr. Horton, collaborating with four peers, started the B-sides original pop group. He performed over 400 shows with this group, going on several tours across America, playing the Knitting Factory in Los Angeles and CBGB’s in New York City, the South-by-Southwest indy music festival in Austin, Texas, and other shows, clubs and festivals all across the country. He arranged a version of Queen’s “Bohemian Rhapsody” for this five piece band–including five part vocal harmony. The B-sides recorded three full length albums and a handful of short albums, landing a record deal with the upstart label Trekky Records.</p>

    <p>Mr. Horton has been involved with musical theatre from his high school years onward. Starting in the pit orchestra for productions such as "Fame", "Once on this Island", and "The Apple Tree", he was soon musical directing community theater shows including "Beehive", "Grease", "Light in the Piazza", and "Little Shop of Horrors." With collaborator Matt Lauria, he wrote, scored, directed, and performed an adaptation of THE GOONIES. As Timberlake Playhouse's resident Music Director, Mr. Horton music directed "Chicago", "Oklahoma", "The 25th Annual Putnam County Spelling Bee", "Sweet Charity", "Sunset Boulevard", and others.</p>

    <p>Travis Horton received his Master's in Collaborative Piano from the New England Conservatory in 2011, studying with Dr. Cameron Stowe, and his Bachelor's degree in piano performance from the North Carolina School of the Arts in 2008. He attended the Meadowmount Chamber Music Summer Program in the summer of 2004 and the North Carolina School of the Arts School of Music for high school from 1999 to 2001. At Meadowmount he studied with acclaimed pianist Eric Larsen of the American Chamber Trio, and performed the first Rachmaninoff Piano Trio with Mark Djokic and Victor Wu. He also attended the University of North Carolina at Chapel Hill, studying classical music with Dr. Thomas Otten and jazz with Dr. Edmund Paolantonio.</p>
  </div>
</div>
