<div class="Background">
  <div class="About">
    <h2>About PSS</h2>
    <img id="rehearsal" src="<%= image_path "dusty_rehearsal.jpg" %>">

    <p>The Park Slope Singers is a congenial group of about 60 people who like to sing and who get together weekly to make music. We rehearse on Monday evenings in the lower level of St. Saviour Church, at the corner of 8th Avenue and 6th Street in Park Slope, Brooklyn. We perform in concert twice a year, usually in January and June, and each concert is followed by a reception with refreshments that the singers provide.</p>

    <a class="history-link" href="/history">Park Slope Singers History</a>

    <br>
    <br>

    <hr id="line1">
    <hr id="line2">

    <h2>Our Directors</h2>

    <h3>Timothy Parsons, Music Director</h3>
    <img class="director" src="<%= image_path "timothy_parsons.jpg" %>">
    <p>Timothy Parsons, countertenor and conductor, is active as both soloist and ensemble singer in New York City, having performed with the Clarion Music Society, the Saint Thomas Fifth Avenue Choir of Men & Boys, the Choir of St Ignatius Loyola. He is currently a member of the Grammy nominated Choir of Trinity Wall Street. As a soloist he has been lauded for his “authority, ease, and elegant exuberance” and his singing has been praised by the New York Times as “particularly expressive, singing with pure, free tone.” As a performer of works old and new, Timothy is conﬁdent and comfortable pushing the envelope as an interpreter.<br><br>

    On the subject of his recent performances of Handel’s <em>Messiah</em> with Trinity Wall Street, the New York Times hailed “…a more pronounced willingness to take risks. The countertenor Timothy Parsons belted out the ﬁnal words of ‘But Who May Abide’ in full, startling chest voice.” The 2016-2017 season includes international performances in Russia, the United Kingdom, Canada, Cuba, and Panama. Timothy will make appearances as soloist in Handel’s Messiah in Mechanics Hall in Worcester, Massachusetts, as soloist in Bach’s B Minor Mass in the Montreal Bach Festival, Bach’s John Passion with New York Baroque Incorporated. He will appear with the Clarion Choir in their groundbreaking tour giving the Russian Premieres of Steinberg’s Passion Week, and will return to Havana’s Musica Antigua festival.<br><br>

    Recent solo engagements have included Handel’s <em>Messiah</em> with Trinity and with the Stamford Symphony, Bernstein’s <em>Missa Brevis</em> for the Sacred Music in a Sacred Space series, and frequent appearances on Trinity’s acclaimed Bach at One series, for which he was praised as an “excellent vocal soloist.” In 2015 Timothy made his debut with the PROTOTYPE Festival, performing in the world premiere of Du Yun and Royce Vavrek’s <em>Angel’s Bone</em>. Previous seasons have included a national tour of Monteverdi’s <em>1610 Vespers</em> with Apollo’s Fire, Handel’s <em>Saul</em> at the Twelfth Night Festival, Rachmaninov’s <em>Vespers</em> at the Quebec Festival with the Clarion Music Society, a concert of Bach, Pärt, and Ligeti at Bargemusic with the Knights, and the world premiere of Michael Harrison’s <em>Tesselations</em> with Contemporaneous. Timothy holds degrees from the Manhattan School of Music in Classical Voice Performance (BM) and Choral Conducting (MM.) He spent his formative years in historic Lexington, Massachusetts and Moultonborough, New Hampshire, and now resides in New York City.</p>
  </div>
</div>
