<div class="Background">
	<div class="About">
		
		<h2>Park Slope Singers Concert History</h2>

		<ul>
			<li><strong>May 30, 2015 | Director: Ira Spaulding</strong></li>
		  <li>Vivaldi: <em>Gloria</em></li>
		  <li>Dyson: <em>Four Songs for Sailors</em></li>
		  <li>Lauridsen: <em>Chansons Des Roses</em></li>
		  <li>Durufl&eacute;: <em>Quartre Motets</em></li>
		  <li>Borodin: Polovetzian Dances</li>
	  </ul>

	  <ul>
			<li><strong>January 25, 2015 | Director: Ira Spaulding</strong></li>
		  <li>Women & Children First: An eclectic mix of songs about women and for children</li>
		  <li>Sieber: <em>Three Nonsense Songs</em></li>
		  <li>Seufert: <em>Friday Mornings</em></li>
	  </ul>

		<ul>
			<li><strong>June 8, 2014 | Director: Ira Spaulding</strong></li>
		  <li>Haydn: <em>Mass No. 11 in D minor (Lord Nelson Mass)</em></li>
	  </ul>

		<ul>
			<li><strong>January 25, 2014 | Director: Ira Spaulding</strong></li>
		  <li>Music in Remembrance of the Civil War: <em>Battle Hymn of the Republic</em>, <em>When Johnny Comes Marching Home</em></li>
	    <li>Vaughan Williams: <em>Dona Nobis Pacem, Beat! Beat! Drums, Dirge for Two Veterans</em></li>
	    <li>W. Schuman: <em>Carols of Death</em></li>
	    <li>Whitacre: <em>Animal Crackers</em></li>
	    <li>Britten: <em>Rejoice in the Lamb</em></li>
	  </ul>

	  <ul>
			<li><strong>June 2, 2013 | Director: Ira Spaulding</strong></li>
		  <li>Mendelssohn: <em>Elijah</em> Part II</li>
	  </ul>

	  <ul>
			<li><strong>January 6, 2013 | Director: Ira Spaulding</strong></li>
		  <li>Mozart: <em>Te Deum</em></li>
		  <li>Copland: American Folk Songs</li>
		  <li>Schuman: <em>Zigeunerlieder</em></li>
		  <li>"Hearing Double": <em>It Was a Lover and His Lass, Ave Maria, My Bonnie Lass</em></li>
	  </ul>

	  <ul>
			<li><strong>June 10, 2012 | Director: Ira Spaulding</strong></li>
		  <li>Mendelssohn: <em>Elijah</em> Part I</li>
	  </ul>

	  <ul>
			<li><strong>January 28, 2012 | Director: Ira Spaulding</strong></li>
		  <li>Haydn: <em>The Creation</em> (selections)</li>
		  <li>Convery: <em>Search</em>, plus traditional songs from America, Eastern Europe and Israel</li>
		  <li>A selection of spirituals</li>
	  </ul>

	  <ul>
			<li><strong>June 4, 2011 | Director: Ira Spaulding</strong></li>
		  <li>Purcell: <em>Funeral Sentences for Queen Mary</em> for chorus, brass & tympani</li>
		  <li>Additional pieces by Persichetti, Ravel, and Seiber</li>
	  </ul>

	  <ul>
			<li><strong>January 29, 2011 | Director: Ira Spaulding</strong></li>
		  <li>Handel: <em>Messiah</em> Part I</li>
	  </ul>

	  <ul>
			<li><strong>June 12, 2010 | Director: Ira Spaulding</strong></li>
		  <li>Haydn: <em>Missa Brevis</em></li>
		  <li>Randall Thompson: <em>The Peaceable Kingdom</em></li>
		  <li>Motets by Palestrina, Bach, & Bruckner</li>
	  </ul>

	  <ul>
			<li><strong>January 31, 2010 | Director: Ira Spaulding</strong></li>
		  <li>Brahms: <em>Liebeslieder Waltzer</em></li>
		  <li>A selection of folk songs & spirituals</li>
	  </ul>

	  <ul>
			<li><strong>May 31, 2009 | Director: Ira Spaulding</strong></li>
		  <li>20th Century English & American Music</li>
		  <li>Featuring works by: Daniel Pinkham, Randall Thompson, Benjamin Britten, John Gardiner, Dana Seuffert & Ralph Vaughn Williams</li>
	  </ul>

	  <ul>
			<li><strong>January 25, 2009 | Director: Ira Spaulding</strong></li>
		  <li>"The Old World & the New"</li>
		  <li>Mozart: <em>Vespers</em> K.339 </li>
		  <li>Additional music by Purcell, Bennet, Finzi, Schubert, Barber, Copland & others</li>
	  </ul>

	  <ul>
			<li><strong>May 31, 2008 | Director: Rodney Sorensen</strong></li>
		  <li>Mozart: <em>Vespers</em> K.339 (selections)</li>
		  <li>Gounod: <em>Mass in Honor of St. Cecelia</em></li>
		  <li>Selections from <em>The Mikado</em></li>
	  </ul>

	  <ul>
			<li><strong>January 27, 2008 | Director: Rodney Sorensen</strong></li>
		  <li>Beethoven: <em>Hallelujah from The Mount of Olives</em></li>
			<li>Mozart: <em>Vespers</em> K.339 (selections)</li>
			<li>Gonoud: <em>Mass in Honor of St. Cecelia</em> (selections)</li>
			<li>Britten: <em>Dirge for Two Veterans</em></li>
	  </ul>

	  <ul>
			<li><strong>May 12, 2007 | Director: Ronnie Oliver</strong></li>
		  <li>Faure: <em>Requiem</em> (performed the following week at Carnegie Hall)</li>
		  <li>Five 20th century songs and hymns</li>
	  </ul>

	  <ul>
			<li><strong>January 28, 2007 | Director: David Thye</strong></li>
		  <li>John Leavitt: <em>Missa Festiva</em></li>
			<li>Stanford: <em>Beati Quorum Via</em></li> 
			<li>Traditional and contemporary songs</li>
	  </ul>

	  <ul>
			<li><strong>June 4, 2006 | Director: Frederick Irwin</strong></li>
			<li>Mozart: <em>Te Deum</em> K.141</li> 
			<li>Music by Pinkham, Billings, Irving Fine, Hassler, Bach, & Haydn</li>
	  </ul>

	  <ul>
			<li><strong>January 29, 2006 | Director: Frederick Irwin</strong></li>
		  <li>Schubert: <em>Mass in G-Major</em></li>
			<li>Music by Mozart, Copland, Byrd, Eccard, & Rutter</li>
	  </ul>

	  <ul>
			<li><strong>June 12, 2005 | Director: Frederick Irwin</strong></li>
		  <li>Music by diLasso, Billings, Haydn, Ford, Morley, Mendelssohn, Brahms, Schubert, Elgar, Thompson & the Gershwins</li>
	  </ul>

	  <ul>
			<li><strong>January 22, 2005 | Director: Frederick Irwin</strong></li>
		  <li>Mozart: <em>Missa Brevis in B-flat Major</em></li>
			<li>Music by Argento, Britten, Copland, Schering & others<li>
	  </ul>

	  <ul>
			<li><strong>June 13, 2004 | Director: Frederick Irwin</strong></li>
		  <li>Steven Coburn: <em>Aspects of Prospect Park</em></li>
		  <li>Music by Barber, Copland, Gershwin, Porter, Thompson & others</li>
		</ul>

	  <ul>
			<li><strong>January 29, 2004 | Director: Frederick Irwin</strong></li>
		  <li>Nelson: <em>Fanfare for a Festival</em></li>
			<li>Faure: <em>Cantique de Jean Racine</em></li>
			<li>A selection of psalms</li>
	  </ul>

	  <ul>
			<li><strong>June 8, 2003 | Director: Frederick Irwin</strong></li>
			<li>Haydn: <em>Missa Brevis in Honor of St. John of God</em> (<em>Kyrie</em> & <em>Gloria</em>)</li> 
			<li>Psalms by Hassler, Rutter, Bruckner & Palestrina</li>
			<li>Madrigals by Morley, Loenzio, Williams</li>
	  </ul>

	  <ul>
			<li><strong>January 25, 2003 | Director: Frederick Irwin</strong></li>
			<li>Pergolesi: <em>Magnificat</em></li>
			<li>Mozart: <em>Missa Brevis in D</em> K.194</li>
			<li>Winter songs by Elgar, Morley, Thompson, Diemer, & Rutter</li>
	  </ul>

	  <ul>
			<li><strong>May 19, 2002 | Director: Nancy Vang</strong></li>
			<li>Charles Pachelbel: <em>Magnificat</em> for double chorus</li> 
			<li>Mozart: <em>Ave Verum</em></li>
			<li>Williams: <em>Valiant for Truth</em></li>
			<li>Britten's flower songs, Vivaldi & others</li>
	  </ul>

	  <ul>
			<li><strong>November 18, 2001 | Director: Nancy Vang</strong></li>
			<li>Dvorak: <em>Requiem</em>, in memory of our conductor, John Denaro</li>
	  </ul>

	</div>
</div>	




