<div class="Background">
  <div class="About">
    <h2>Our History</h2>

    <p>The organization that we now call the Park Slope Singers came into being in May of 1992 because of one woman who loved to sing, but couldn't find the perfect group in her neighborhood. She wanted to sing with friends and to have some input into the sort of music they sang.
    She became a noodge: first one friend, then another, then friends of friends, and finally some singers from other choruses. They started singing in different apartments, but soon recognized that they needed a larger space, as well as a real director and someone good at playing the piano.</p>

    <p>In the early days, they passed a hat at each session to pay the conductor for that evening. Some of them agreed to assume ongoing responsibilities over the summer and early fall, like finding a space to rent for rehearsals, and managing the financial tasks.</p>

    <a class="history-link" href="/history/concerts">Complete Concert History</a>
    <br><br>

    <hr id="line1">
    <hr id="line2">

    <h3>Important PSS Milestones</h3>

    <ul class="info">
      <li><strong>May 4 and May 31, 1992:</strong> First organizational meeting, with singing, at the home of Gerson and Theresa Levin.</li><br>

      <li><strong>Fall 1992 - Spring 1993:</strong> We began regular rehearsals in early September, meeting at the Ethical Cultural Society building on Prospect Park West. Most of our performances were in that space. We engaged Kenneth Gartner as our music director and Jung Soon Kim as our accompanist. By the time of our December '92 concert, we were 15 singers strong, and by the next spring, membership had grown to 22. At the June '93 business meeting, a committee was formed to manage the affairs of the organization, consisting of Marianne Schlotterbeck, Linda Johnsen (as treasurer), Anne Wong, Theresa Levin, Ros Welchman, and Katherine Beckler.</li><br>

      <li><strong>Fall 1993 - Spring 1994:</strong> Andre Lubart became our music director in the spring and Nishan Aghababian our accompanist. Dues were set at $100 per semester. At the June '94 business meeting, Jim Lovett was elected "chairperson" of the group and Linda Johnsen re-confirmed as treasurer.</li><br>

      <li><strong>Fall 1994 - Spring 1995:</strong> Andre Lubart continued as musical director. Chihiro Aghababian became our accompanist. We did not perform in a spring concert.</li><br>

      <li><strong>Fall 1995 - Spring 1996:</strong> Andre Lubart continued as musical director. Todd Rice was our accompanist in the fall and Danny Leitner was accompanist in the spring. At the June '96 business meeting, a set of bylaws was adopted by the membership.</li><br>

      <li><strong>Fall 1996 - Spring 1997:</strong> Andre Lubart continued as musical director and Todd Rice was our accompanist. There was no concert in the fall.</li><br>

      <li><strong>Fall 1997 - Spring 1998:</strong> We got a late start this year. David Dik became our musical director. Jill Simmons was accompanist.</li><br>

      <li><strong>Fall 1998 - Spring 1999:</strong> We had another late start. Elena Pierini became musical director and was her own accompanist for rehearsals. Allesandra Vojcic was the performance accompanist. We began rehearsing at the Poly Prep Lower School on Prospect Park West. A small group met in April 1999 to consider the pros and cons of incorporating as a non-profit entity.</li><br>

      <li><strong>Fall 1999 - Spring 2000:</strong> Elena Pierini decided to move to Florida, and was replaced as musical director by John Denaro. Steve Coburn joined us as accompanist. In March we began rehearsing in the parish hall at St. Saviour Church on Eighth Avenue. At the February business meeting it was decided not to pursue non-profit incorporation.</li><br>

      <li><strong>Fall 2000 - Spring 2001:</strong> Our director, John Denaro, became ill with cancer and we decided to cancel the January concert. In March, Nancy Vang agreed to serve as guest director. John passed away on May 11th, 2001. The June 2001 concert included the premier of Steve Coburn's Aspects of Prospect Park.</li><br>

      <li><strong>Fall 2001 - Spring 2002:</strong> Nancy Vang continued as musical director. Our regular fall concert was replaced by a memorial concert on November 11, 2001, featuring Dvorak's Requiem and dedicated to the memory of of John Denaro and the victims of 9-11.</li><br>

      <li><strong>Fall 2002 - Spring 2006:</strong> Nancy Vang decided to retire and was replaced as musical director by Fred Irwin. Steve Coburn continued as accompanist.</li><br>

      <li><strong>Fall 2006 - Spring 2007:</strong> Fred Irwin retired as musical director and was replaced by David Thye. At the end of the fall semester, David moved to Texas to become conductor of the Ft. Worth Symphony Chorale. Ronnie Oliver served as music director for the spring semester. A number of our members joined with other choruses to perform the Fauré Requiem at Carnegie Hall on May 19th.</li><br>

      <li><strong>Fall 2007 - Spring 2008:</strong> Ronnie Oliver took a part-time position at Westminster Chor College and was replaced as music director by Rodney Sorensen. Steve Coburn continued as accompanist.</li><br>

      <li><strong>Fall 2008 - Spring 2009:</strong> Ira Spaulding, recently returned to New York from Amsterdam after 27 years there as an instructor and performer, became our conductor and music director.</li><br>

      <li><strong>Fall 2009 - Spring 2010:</strong> At our June concert, we sang Haydn's Missa Brevis and were accompanied by a nine piece chamber orchestra, the largest ensemble we had performed with to that time.</li><br>

      <li><strong>Fall 2010 - Spring 2011:</strong> Steve Coburn, after 11 years with the group, took a took a sabbatical and was replaced as pianist for the year by Alison Deane.</li><br>

      <li><strong>Fall 2011 - Spring 2012:</strong> Alison Deane formally took over as rehearsal pianist and accompanist.</li><br>

      <li><strong>Fall 2014 - Spring 2015:</strong> Park Slope Singers officially became a 501(c)(3) organization.</li><br>

      <li><strong>Fall 2015:</strong> Dusty Francis became our conductor and music director, and Travis Horton took over as rehearsal pianist and accompanist.</li><br>
    </ul>

  </div>
</div>
