<%= image_tag 'sing_logo.png', :id => "logo" %>

<div class="background_index">
  <div class="About">

    <h4>Park Slope Singers Present:</h4>
    <h3>If We Must Marvel</h3>
    <img id="concert_image" src="https://www.leonardodavinci.net/images/universal-genius.jpg">
    <p class="concert_text">Our January 2018 concert will feature songs that celebrate creation, nature and human achievement. The music ranges from Renaissance composers such as Josquin des Pres and Manuel Cardoso to contemporary ones such as Eric Whitacre, Ron Jeffers, and Steven Sametz. Works include <em>Leonardo Dreams of His Flying Machine</em>, <em>Five Days that Changed the World</em>, and <em>Missa Charles Darwin</em>.<br><br>Dates and locations to be announced shortly. Check back soon!</p>

<!--     <img id="concert_image" src="<%= image_path "creation.png" %>">

    <h4>Saturday, June 3 at 1:30pm with the Musica Bella Orchestra</h4>
    <p class="concert_text">Saint Thomas Aquinas Church
    <br>249 9th Street (at 4th Avenue), Brooklyn NY</p>

    <h4>Sunday, June 4 at 3:00pm with pianist Travis Horton</h4>
    <p class="concert_text">Lutheran Church of the Good Shepherd
    <br>7420 4th Avenue (at 74th Street), Brooklyn NY</p> -->

<!--     <h4>Presenting Sponsor:</h4>

    <div class="sponsors">
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div>

    <br>

    <a href="http://parkslopesingers.bpt.me/" target="_blank"><button>Purchase Tickets</button></a> -->

    <hr id="line1">
    <hr id="line2">

    <p style="text-align:center">To receive announcements from Park Slope Singers, please join our mailing list.</p>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
