<!-- <div>
	<%= image_tag 'singers.jpg' %>
</div> -->

<div class="Background">
	<div class="About">

		<h2>Concert Information</h2>
		<h3>Spring Concert: Vivaldi Plus Four</h3>

		<p>This May, the Park Slope Singers will be presenting a program of bold emotional music, culminating in Vivaldi's <em>Gloria</em>, an exuberant choral masterpiece. The other pieces include works by four 20th century composers, creating a beautiful blend of style and harmony.</p> 


		<p>George Dyson's <em>Four Songs for Sailors</em> is a dynamic & melodic suite which begins with <em>To the Thames</em>, while melodies from Anton Borodin's <em>Polyvetzian Dances</em> were used for the Tony Award winning 1953 Broadway musical <em>Kismet</em>. In addition, we will sing a selection from Morton Lauridsen's <em>Chansons Des Roses</em> and Maurice Duruflé's <em>Quartre Motets</em>, which use the Latin texts of four Gregorian hymns and interweave their Gregorian melodies within modern tonal settings.</p>

		<p>This soaring musical program serves not only as our spring concert, but also as a vibrant send-off to Ira Spaulding, our conductor for the past seven seasons.</p>

		<p>There will be two performances of this program:</p>
		<ul class="info">
			<li><strong>May 30, 2015 @3pm at Church of the Good Shepherd</strong> (4th Avenue & 75th Street), Bay Ridge, Brooklyn, as part of the Arts on the Corner series.</li>
		</br>
			<li><strong>May 31, 2015 @3pm at St. Saviour Church</strong> (8th Avenue & 6th Street), Park Slope, Brooklyn.</li>
		</ul>
		<p>At the moment, advance tickets can ONLY be purchased for the concert in Park Slope on May 31. Tickets will be available at the door for both the Bay Ridge and the Park Slope concerts.</br>
		</br>All ticket holders are invited to attend a reception immediately following the concert.</p>
		<button><a href="http://parkslopesingers.bpt.me/">Purchase Tickets</a></button>

		<h3>Upcoming Events</h3>
		<p>To receive concert information and other announcements from Park Slope Singers, please join our mailing list.</p>	
		<button id="join"><a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1">Join Our Mailing List</a></button>
	</div>
</div>