<!-- <div>
	<%= image_tag 'singers.jpg' %>
</div> -->

<div class="Background">
	<div class="About">
		
		<h2>Concert Information</h2>
		<h3>Winter Concert: Women & Children First</h3>
		<%= image_tag 'cassatt.jpg' %>
		<p>Come join the Park Slope Singers as we present "Women & Children First," a fun concert with light-hearted songs for children and a mixture of madrigals and contemporary music about women. Some selections include <em>Animal Crackers</em>, <em>Cluck Ol' Hen</em>, <em>Fair Phyllis</em>, and <em>Eleanor Rigby</em>.</br>
		</br>There will be two performances:
		<ul class="info">
			<li><strong>January 24, 2015 @3pm at Church of the Good Shepherd</strong> (4th Avenue & 75th Street), Bay Ridge, Brooklyn, as part of the Arts on the Corner series.</li>
		</br>
			<li><strong>January 25, 2015 @3pm at St. Saviour Church</strong> (8th Avenue & 6th Street), Park Slope, Brooklyn.</li>
		</ul>
		<p>At the moment, advance tickets can ONLY be purchased for the concert in Park Slope on January 25. Tickets will be available at the door for both the Bay Ridge and the Park Slope concerts.</br>
		</br>All ticket holders are invited to attend a reception immediately following the concert.</p>
		<button><a href="http://parkslopesingers.bpt.me/">Purchase Tickets</a></button>

		<h2>Upcoming Events</h2>
		<p>To receive concert information and other announcements from Park Slope Singers, please join our mailing list.</p>	
		<button id="join"><a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1">Join Our Mailing List</a></button>
	</div>
</div>