<%= image_tag 'sing_logo.png', :id => "logo" %>

<div class="background_index">
  <div class="About">

    <img id="concert_image" src="<%= image_path "creation.png" %>">

    <h4>Saturday, June 3 at 1:30pm with the Musica Bella Orchestra</h4>
    <p class="concert_text">Saint Thomas Aquinas Church
    <br>249 9th Street (at 4th Avenue), Brooklyn NY</p>

    <h4>Sunday, June 4 at 3:00pm with pianist Travis Horton</h4>
    <p class="concert_text">Lutheran Church of the Good Shepherd
    <br>7420 4th Avenue (at 74th Street), Brooklyn NY</p>

    <h4>Presenting Sponsor:</h4>

    <div class="sponsors">
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div>

    <br>

    <a href="http://parkslopesingers.bpt.me/" target="_blank"><button>Purchase Tickets</button></a>

    <hr id="line1">
    <hr id="line2">

    <h4>About The Creation</h4>

    <p>The warm weather of June in Brooklyn brings to mind fresh flowers, radiant sunshine, and new beginnings. To truly embrace the start of summer, the Park Slope Singers present two performances of Joseph Haydn's masterwork, <em>The Creation</em>.</p>

    <p>In setting out to write <em>The Creation</em>, Haydn wrote to a friend, "I want to write a work that will give permanent fame to my name in the world." The oratorio was first performed in 1798 and has been considered a classic from the very first. It takes the listener through the book of Genesis in three parts. First is the chaos before the creation and the formation of light, heaven and earth, and land and water. The second part focuses on the creation of animals and of man and woman. By the third and final part, Adam and Eve sing of their idealized life in the Garden of Eden among the creations of this new world.</p> 

    <p><em>The Creation</em> is narrated by three soloist archangels Gabriel, Uriel, and Raphael, who join with the chorus in hymns of praise and wonderment. The choral refrains, including the well-known <em>The Heavens are Telling</em>, have been described as the sublime epitome of 18th century music. Through his composition, we hear the waves, feel the wind, listen to animal roars and songs, and feel the warmth of sunlight upon our skin. Haydn's music evokes all our senses in a discovery of the new and beautiful.</p>

    <p><em>The Creation</em> is truly a celebration of life and joy. As an early biographer wrote, the work corresponds with Haydn's own philosophy "not of the gloomy, always suffering sort, but rather cheerful and reconciled."</p>

    <p>When it premiered, <em>The Creation</em> was published in both German and English. From the beginning, native English speakers have lamented Baron van Swieten's inadequate English libretto. The Park Slope Singers are delighted to be performing this work using a recent, greatly improved translation by Robert Shaw and Alice Parker.</p>

    <p>Soloists Danielle Buonaiuto, soprano, Napat Mingkwanyuen, tenor, and Michael Hix, baritone, will sing the roles of the archangels. Saturday's performance will feature the Musica Bella Orchestra. On Sunday, piano accompaniment will be provided by Travis Horton.</p>

    <hr id="line1">
    <hr id="line2">

    <p style="text-align:center">To receive announcements from Park Slope Singers, please join our mailing list.</p>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
