<%= image_tag 'sing_logo.png', :id => "logo" %>

<div class="background_index">
  <div class="About">

    <br>
    <h4>Park Slope Singers Present</h4>

    <h3>Mozart's <em>Requiem</em> and Schubert's <em>Mass in G</em></h3>
    <h4>January 26 and 27, 2019</h4>

    <div><img src="https://www.publicdomainpictures.net/pictures/30000/nahled/death-daisy.jpg" width="70%"></div>

    <h4>Check back soon for more details!</h4>

    <!-- <img id="concert_image" src="<%= image_path "anniversary_concert.png" %>">

    <div>
      <div id='concert_left'>
        <h4>Saturday, June 2 at 2:00pm</h4>
        <p class="concert_text">Lutheran Church of the Good Shepherd
        <br>7420 4th Avenue (at 74th Street), Brooklyn NY</p>
        <a href="http://parkslopesingers.bpt.me/" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>

      <div id='concert_right'>
        <h4>Sunday, June 3 at 5:00pm</h4>
        <p class="concert_text">Saint Augustine Church
        <br>116 6th Avenue (at Sterling Place), Brooklyn NY</p>
        <a href="http://parkslopesingers2.bpt.me/" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>
    </div>

    <div id='concert_sponsor'>
      <h4>Presenting Sponsor:</h4>
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div>
 -->
    <br>

    <hr id="line1">
    <hr id="line2">

    <p style="text-align:center">To receive announcements from Park Slope Singers, please join our mailing list.</p>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
