<%= image_tag 'sing_logo.png', :id => "logo" %>

<div class="background_index">
  <div class="About">

    <br>
    <h3 style="color:#f08e26">Winter 2020</h3>
    <h3><em>Lobet Den Herrn</em>, Bach</h3>
    <h3><em>Lutheran Mass in G Minor</em>, Bach</h3>
    <h3><em>Ode for the Birthday of Queen Anne</em>, Handel</h3>

    <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/Queen_Anne_-_Lely_1667-8.jpg" width='50%'>
<!--     <div id="concert_image">
      <h4>Park Slope Singers Present</h4>
      <h2>Sleep <span id="with">with</span> Open Eyes</h2>
      <h4>We must sing till the song puts forth roots.</h4>
      <div id='concert_left'>
        <h4>May 18, 2019 at 3:00pm</h4>
        <p class="concert_text">Lutheran Church of the Good Shepherd
        <br>7420 4th Avenue, Brooklyn NY</p>
        <a href="https://parkslopesingers.bpt.me" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>

      <div id='concert_right'>
        <h4>May 19, 2019 at 3:00pm</h4>
        <p class="concert_text">St. Paul's Episcopal Church
        <br>199 Carroll Street, Brooklyn NY</p>
        <a href="https://parkslopesingers2.bpt.me" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>
    </div> -->

<!--     <div id='concert_sponsor'>
      <h4>Presenting Sponsor:</h4>
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div> -->

    <hr id="line1">
    <hr id="line2">

    <p style="text-align:center">More details to come! To receive announcements from Park Slope Singers, please join our mailing list.</p>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
