<%= image_tag 'sing_logo.png', :id => "logo" %>

<div class="background_index">
  <div class="About">

    <img id="concert_image" src="<%= image_path "anniversary_concert.png" %>">

    <div>
      <div id='concert_left'>
        <h4>Saturday, June 2 at 2:00pm</h4>
        <p class="concert_text">Lutheran Church of the Good Shepherd
        <br>7420 4th Avenue (at 74th Street), Brooklyn NY</p>
        <a href="http://parkslopesingers.bpt.me/" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>

      <div id='concert_right'>
        <h4>Sunday, June 3 at 5:00pm</h4>
        <p class="concert_text">Saint Augustine Church
        <br>116 6th Avenue (at Sterling Place), Brooklyn NY</p>
        <a href="http://parkslopesingers2.bpt.me/" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>
    </div>

    <div id='concert_sponsor'>
      <h4>Presenting Sponsor:</h4>
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div>

    <p>The Park Slope Singers conclude our 25th anniversary season with a selection of works reflecting joy, playfulness, and peace. These themes are present throughout the pieces and have inspired our concert title, <em>A Jubilant Song</em>, which is also the opening piece of the concert. The lyrics by Brooklyn’s own Walt Whitman truly sum up not only this concert but the last 25 years of making music in Brooklyn, particularly Park Slope – “Listen to a jubilant song. The joy of our spirit is uncaged. … Our spirit sings a jubilant song that is to life full of music.”</p>

    <p>Also included in this program are Randall Thompson, Felix Mendelssohn, Johannes Brahms, texts from Ralph Waldo Emerson, and arrangements from Alice Parker, William Dawson and Stephen Paulus.The concert features a range of music from spirituals to classical German compositions to folk songs and reflective pieces.</p>

    <p>In a nod to our 25-year history, several of the songs in this program have been sung by the Park Slope Singers previously, either in the last five years or going back to the early days of the choir. We look back fondly on those songs and also reflect on our evolution over the years.</p>

    <p>The Park Slope Singers collectively find that every concert for us is a chance to share this “Jubilant Song” we have and the pure joy we experience in singing together for you, our friends and colleagues and neighbors. This concert’s exuberance for singing is very special to us as we reflect on the history of the chorus and look to continue the pleasures of singing for another 25 years here in Brooklyn.</p>

    <p>We will be performing two concerts of this exciting program under the direction of Timothy Parsons with Balint Varga accompanying.</p>

    <br>

    <hr id="line1">
    <hr id="line2">

    <p style="text-align:center">To receive announcements from Park Slope Singers, please join our mailing list.</p>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
