<div class="Background">
  <div class="About">

    <h4>The Park Slope Singers Present</h4>

    <div id="concert_block">
      <h3 class="concert_text">The World Beloved: A Bluegrass Mass</h3> 
      <h4 class="concert_text">Plus Twelve American Songs</h4>
      <img class="concert" src="http://liveatnectars.com/wp-content/uploads/2014/07/Bluegrass-Thursday-Stock.jpg">
      <h4 class="concert_text">Sunday January 29, 2017 - 3:00pm</h4>
      <h4 class="concert_text">St. Saviour Church - 8th Avenue & 6th Street, Brooklyn</h4>
      <a href="http://parkslopesingers.bpt.me/" target="_blank"><button>Purchase Tickets</button></a>
    </div>

    <br><br>
    <p class="text_wall">The Park Slope Singers' January concert will feature “The World Beloved: A Bluegrass Mass” which blends the traditional mass with contemporary texts and lively choral voices accompanied by a bluegrass band. The composer, Carol Barnett, has been praised for her musical audacity and cross-pollination. The Singers will also perform 12 a cappella American songs, from the traditional to the not-yet-published.</p>

    <h4>Presenting Sponsors:</h4>

    <div class="sponsors">
      <a class="sponsor" href="http://flatrate.com" target="_blank"><img src="<%= image_path "flat_rate.jpeg" %>"></a>
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div>
    <br>

    <hr id="line1">
    <hr id="line2">
    <h3>Upcoming Events</h3>

    <h5>To receive concert information and other announcements from Park Slope Singers, please join our mailing list.</h5>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
