<div class="Background">
	<div class="About">
		<h2>Winter Concert: <em>Ein Deutsches Requiem</em><h2> 
		<h3>(A German Requiem) by Brahms</h3>

		<image src="http://media.npr.org/assets/img/2012/02/02/Brahms_wide-44a0b862976eb1b41999c606911423fe54731f20-s900-c85.jpg">

		<p style="margin-left:4%">There will be two performances of this program:</p>
		<ul class="info">
			<li><strong>January 30, 2016 @3pm at Church of the Good Shepherd</strong> (4th Avenue & 75th Street), Bay Ridge, Brooklyn, as part of the Arts on the Corner series.</li>
		</br>
			<li><strong>January 31, 2016 @3pm at St. Saviour Church</strong> (8th Avenue & 6th Street), Park Slope, Brooklyn.</li>
		</ul>
<!-- 		<p>At the moment, advance tickets can ONLY be purchased for the concert in Park Slope on January 31. Tickets will be available at the door for both the Bay Ridge and the Park Slope concerts.</br> -->
		</br>All ticket holders are invited to attend a reception immediately following the concert.</p>
<!-- 		<a href="http://parkslopesingers.bpt.me/"><button>Purchase Tickets</button></a> -->
		<br><br>

		<hr id="line1">
		<hr id="line2">
		<h3>Upcoming Events</h3>
		<h5>To receive concert information and other announcements from Park Slope Singers, please join our mailing list.</h5>	
		<a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
	</div>
</div>