<%= image_tag 'sing_logo.png', :id => "logo" %>

<div class="background_index">
  <div class="About">

    <br>
    <h4>Park Slope Singers Present</h4>

    <h3>Mozart's <em>Requiem</em> and Schubert's <em>Mass in G</em></h3>

    <div><img src="https://snappygoat.com/o/8bf5c61e97b28858c209f8aa05889f7ee3098927/light-death-memorial-isolated-wax-1551386.jpg" width="60%"></div>

    <div>
      <div id='concert_left'>
        <h4>January 26, 2019 at 2:00pm</h4>
        <p class="concert_text">St. Paul's Episcopal Church
        <br>199 Carroll Street, Brooklyn NY</p>
        <a href="https://parkslopesingers2.bpt.me" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>

      <div id='concert_right'>
        <h4>January 27, 2019 at 3:00pm</h4>
        <p class="concert_text">Lutheran Church of the Good Shepherd
        <br>7420 4th Avenue, Brooklyn NY</p>
        <a href="https://parkslopesingers.bpt.me" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>
    </div>

    <br>

    <div id='concert_sponsor'>
      <h4>Presenting Sponsor:</h4>
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div>

    <div>
      <p>The Park Slope Singers present a vibrant afternoon of music with two classic masterworks: Mozart's <em>Requiem</em> and Schubert's <em>Mass in G</em>. Both pieces have truly stood the test of time and are undoubtedly familiar to listeners around the world.</p>
      <p>Schubert's <em>Mass in G</em> is a popular melodic work with soaring movements of praise and thanksgiving. Mozart's <em>Requiem</em> remains to this day one of the most enduring and mysterious works, as Mozart died before he finished composing it.</p>
      <p>The concert will feature soloists Sarah Hawkey (Soprano), Kristin Gornstein (Mezzo-Soprano), Lucas Levy (Tenor) and Brian Mextorf (Bass-Baritone), as well as visiting singers from the Der Konzertchoir Niederschhausen in Berlin. This marks the beginning of a new international partnership between the German choir and the Park Slope Singers that we hope will result in many future collaborations!</p>
      <p>We will be performing two concerts of this exciting program under the direction of Timothy Parsons, with Balint Varga and Jason Weisinger accompanying. There will be a reception after each of the concerts. Please join us for snacks, drinks, and conversation.</p>
    </div>

    <hr id="line1">
    <hr id="line2">

    <p style="text-align:center">To receive announcements from Park Slope Singers, please join our mailing list.</p>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
