<%= image_tag 'sing_logo.png', :id => "logo" %>

<div class="background_index">
  <div class="About">

    <br>
    <div id="concert_image">
      <h4>Park Slope Singers Present</h4>
      <h2>Sleep <span id="with">with</span> Open Eyes</h2>
      <h4>We must sing till the song puts forth roots.</h4>
      <div id='concert_left'>
        <h4>May 18, 2019 at 3:00pm</h4>
        <p class="concert_text">Lutheran Church of the Good Shepherd
        <br>7420 4th Avenue, Brooklyn NY</p>
        <a href="https://parkslopesingers.bpt.me" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>

      <div id='concert_right'>
        <h4>May 19, 2019 at 3:00pm</h4>
        <p class="concert_text">St. Paul's Episcopal Church
        <br>199 Carroll Street, Brooklyn NY</p>
        <a href="https://parkslopesingers2.bpt.me" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>
    </div>

    <div id='concert_sponsor'>
      <h4>Presenting Sponsor:</h4>
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div>

    <div>
      <p>The Park Slope Singers’ spring concert will be an exciting musical kaleidoscope of contemporary music to engulf the audience in evocative soundscapes. Entitled “Sleep with Open Eyes,” the pieces truly enable the audience to listen and be immersed in the sounds and emotions surrounding us.</p>

      <p>The concert will feature ten pieces, primarily from contemporary composers of the 20th and 21st century whose backgrounds span the globe from China to South Africa, and from Norway to the Middle East. We will feature two works by Grammy-winning American composers: Eric Whitacre and Mason Bates.</p>

      <p>In each piece we explore vastly different soundscapes, at once anchoring the listener in something familiar, and expanding their auditory horizons at the same time. Several of our selections seek to depict the natural world. Eric Whitacre’s “Cloudburst” starts with spoken word and chanting before evolving into a melody with percussion, all evoking a rainstorm that represents, according to the composer, the ceremonial “unleashed kinetic energy of all things.” Similarly in Chen Yi’s “Spring Dreams” a dreamer walks through a forest completely surrounded by nature, replete with bird calls and the morning rain. Chen Yi’s music blends the eastern and western idioms to depict something truly universal – the sounds of nature.</p>

      <p>The idea of a “sound-world” is perhaps best summed up when discussing Ola Gjeilo’s “Northern Lights.” In a recent interview with the composer, his piece was described as “prioritizing the overall sound-world and timbre, where the text is more servant of the music rather than the other way around. The result is something akin to the setting of a book or the colors of a painting, preparing a place where the music will live.”</p>

      <p>Real energy and juxtaposition are at play when we transition from the sound-world of nature to that of technology. In Mason Bates’ “Mass Transmission” the audience experiences the burgeoning concept of global communication. The piece tells the story using memoirs from the period of the first trans-continental radio transmission. Events nearly a century ago take on new urgency and immediacy as we delve into the memories of a mother separated from her child, half a world away. The yearning is palpable as the music oscillates from heartfelt and simple to deeply mechanistic and technological – the human story of mother and child alongside the realities and sounds of the advances in technology.</p>

      <p>Also featured is a modern arrangement of Johann Sebastian Bach, a powerful anti-apartheid freedom song, and a 12th century choral arrangement, among others. We hope you can join us for this encompassing afternoon of music that will transport you with new sounds, ideas, and colors.</p>

      <p>We will be performing two concerts of this immersive program under the direction of Timothy Parsons with Balint Varga accompanying. Tickets for both concerts can be purchased at the door or online. There will be a reception after each of the concerts. Please join us for snacks, drinks, and conversation.</p>
    </div>

    <hr id="line1">
    <hr id="line2">

    <p style="text-align:center">To receive announcements from Park Slope Singers, please join our mailing list.</p>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
