<div class="Background">
  <div class="About">
    <h3>Spring Concert: Paradise Lost/Paradise Regained</h3> 

<!--     <h4>Presenting Sponsors:</h4>

    <div class="sponsors">
      <a class="sponsor" href="http://flatrate.com" target="_blank"><img src="<%= image_path "flat_rate.jpeg" %>"></a>
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div> -->

    <img class="concert" src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Andreas_Achenbach_-_Clearing_Up%E2%80%94Coast_of_Sicily_-_Walters_37116.jpg">

    <ul class="info">
      <li><strong>June 4, 2016 @3pm at Church of the Good Shepherd</strong> (4th Avenue & 75th Street), Bay Ridge, Brooklyn, as part of the Arts on the Corner series.</li>
      </br>
      <li><strong>June 5, 2016 @3pm at St. Saviour Church</strong>(8th Avenue & 6th Street), Park Slope, Brooklyn.</li>
    </ul>

<!--     <h4>Concert Program</h4>
    <ul class="info">
      <li><em>Schicksalslied</em>, Brahms</li>
      <li><em>The Parting Glass</em>, arr. Wailin' Jennys</li>
      <li><em>Loch Lomond</em>, arr. Vaughan Williams</li>
      <li><em>My Gentle Harp</em>, Parker</li>
      <li><em>The Road Home</em>, Paulus</li>
      <li><em>And I Saw a New Heaven</em>, Bainton</li>
      <li><em>Toward the Unknown Region</em>, Vaughan Williams</li>
    </ul> -->

    <p class="text_wall"><strong>All ticket holders are invited to attend a reception immediately following the concert.</strong></p>

<!--     <a href="http://parkslopesingers.bpt.me/" target="_blank"><button>Purchase Tickets</button></a> -->
    <br>

    <hr id="line1">
    <hr id="line2">
    <h3>Upcoming Events</h3>

    <h5>To receive concert information and other announcements from Park Slope Singers, please join our mailing list.</h5>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
