<div class="Background">
  <div class="About">
    <h3>Spring Concert: Paradise Lost/Paradise Regained</h3> 

    <img class="concert" src="<%= image_path "north_bay.jpg" %>">

    <br><br>
    <p class="text_wall">Join the Park Slope Singers for a program of loss and renewal. Music from a range of styles and periods, from traditional airs to choral settings by Brahms, Vaughan Williams, and Stephen Paulus, explores the poetry of Walt Whitman, Friedrich Hölderlin, and Thomas Moore. All these pieces share the depth and poignancy evoked by our common experience of living with an awareness of mortality. A reception follows each concert. Please join us for snacks, drinks, and conversation.</p>
    
    <ul class="info">
      <li><strong>June 4, 2016 @3pm at Church of the Good Shepherd</strong> (4th Avenue & 75th Street), Bay Ridge, Brooklyn, as part of the Arts on the Corner series.</li>
      </br>
      <li><strong>June 5, 2016 @3pm at St. Saviour Church</strong> (8th Avenue & 6th Street), Park Slope, Brooklyn.</li>
    </ul>

    <a href="http://parkslopesingers.bpt.me/" target="_blank"><button>Purchase Tickets</button></a>

    <h4>Presenting Sponsors:</h4>

    <div class="sponsors">
      <a class="sponsor" href="http://flatrate.com" target="_blank"><img src="<%= image_path "flat_rate.jpeg" %>"></a>
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div>
    <br>

    <hr id="line1">
    <hr id="line2">
    <h3>Upcoming Events</h3>

    <h5>To receive concert information and other announcements from Park Slope Singers, please join our mailing list.</h5>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
