<%= image_tag 'sing_logo.png', :id => "logo" %>

<div class="background_index">
  <div class="About">

    <br>

    <div id='concert_image'>
      <h2>Elena Williamson, Music Director</h2>
      <img src="https://i.imgur.com/TErIUSc.jpg" width="100%">
      <div>
        <p>
          We are thrilled to be back and performing for you again! This year, the Park Slope Singers celebrates its 30th Anniversary. To mark the occasion we’re revisiting some of our favorite pieces from past concerts.
        </p>
        <p>
          The selections range from 16th century madrigals in French, Italian, and English to a spiritual arranged by Moses Hogan. We’ll be singing a selection from Mendelssohn’s <em>Elijah</em> as well as contemporary classics from Paulus and Randall Thompson - including his contemplative <em>Alleluia</em> and rousing <em>Ye Shall Have a Song</em>.
        </p>
        <p>
          Our first June concert will be on June 11th, 3 pm, at St. John’s Episcopal Church in Park Slope. Our second concert is on June 21st, as part of Make Music New York’s citywide festival of free outdoor concerts, held annually on the day of the summer solstice. The June 21st concert is free and will be held at 7 pm in the garden of Park Slope Methodist Church.
        </p>
        <p>
          Our singers are vaccinated and will be tested the day before the first concert. Audience members must be vaccinated and wear a mask throughout the Saturday performance. No masks or proof of vaccination are needed for the Tuesday concert. We will follow all NYC COVID guidance, as well as any rules imposed by the venue.
        </p>
        <p>
          We hope that you’ll join us.  We’d love to see you!
        </p>
      </div>
      <div id='concert_left'>
        <h2>Saturday, June 11, 3:00 PM</h2>
        <p class="concert_text">
          St. John’s Episcopal Church<br>
          139 St. John’s Place, Brooklyn NY<br>
          Admission: $20; Students and Seniors $15
        </p>
        <a href="https://bpt.me/5448135" target="_blank">
          <button class="ticket_button">Purchase Tickets</button>
        </a>
      </div>
      <div id='concert_right'>
        <h2>Tuesday, June 21, 7:00 PM</h2>
        <p class="concert_text">
          Park Slope United Methodist Church (Outdoor Garden)<br>
          410 6th Avenue at 8th Street, Brooklyn NY<br>
          Free — contributions gratefully accepted
        </p>
      </div>
    </div>


<!--     <div id='concert_sponsor'>
      <h4>Presenting Sponsor:</h4>
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div> -->


    <hr id="line1">
    <hr id="line2">

    <p style="text-align:center">To receive announcements from Park Slope Singers, please join our mailing list.</p>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
    <br><br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="ZULTQTC3NNE5Q" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </div>
</div>
