<div class="Background">
	<div class="About">
		<h2>Winter Concert: <em>Ein Deutsches Requiem</em><h2> 
		<h3><em>A German Requiem </em>- Johannes Brahms</h3>

		<h4>Presenting Sponsors:</h4>

		<div class="sponsors">
			<a class="sponsor" href="http://flatrate.com" target="_blank"><img src="<%= image_path "flat_rate.jpeg" %>"></a>
			<a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
		</div>

		<img class="concert" src="<%= image_path "brahms.jpg" %>">

		<ul class="info">
			<li><strong>January 30, 2016 @3pm at Church of the Good Shepherd</strong> (4th Avenue & 75th Street), Bay Ridge, Brooklyn, as part of the Arts on the Corner series.</li>
		</br>
			<li><strong>January 31, 2016 @3pm at St. Saviour Church</strong> (8th Avenue & 6th Street), Park Slope, Brooklyn.</li>
		</ul>

		<p style="margin-left:4%">Of his choral masterwork, <em>A German Requiem</em>, Johannes Brahms (1833-1897) wrote: "As for the title, I must admit I should like to leave out the word 'German' and refer instead to 'Humanity'." The scripture texts he chose offer consolation, reassurance, and comfort to the living in a strong affirmation of personal hope, love, courage, and anticipation of joy. They are woven into a rich work full of classical forms and romantic harmonies.<br><br>The Park Slope Singers - a member of the Brooklyn community for more than 20 years - proudly introduces our new conductor Dusty Francis for this moving afternoon of music.<br><br>Travis Horton and Mikael Darmanie will accompany the chorus, using the composer's own arrangement for piano four hands. The soloists will be Danielle Buonaiuto, soprano, and Paul Max Tipton, bass.<br><br><strong>All ticket holders are invited to attend a reception immediately following the concert.</strong></p>

		<a href="http://parkslopesingers.bpt.me/" target="_blank"><button>Purchase Tickets</button></a>
		<br>

		<hr id="line1">
		<hr id="line2">
		<h3>Upcoming Events</h3>
		<h3>Spring Concert: Paradise Lost/Paradise Regained</h3>

		<ul class="info">
			<li><strong>June 4, 2016 @3pm at Church of the Good Shepherd</strong> as part of the Arts on the Corner series.</li>
			</br>
			<li><strong>June 5, 2016 @3pm at St. Saviour Church</strong></li>
		</ul>

		<h5>To receive concert information and other announcements from Park Slope Singers, please join our mailing list.</h5>	
		<a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
	</div>
</div>