<div class="Background">
	<div class="About">
		
		<h2>Become a Member</h2>
		<img class="join" src="<%= image_path "tk.jpg" %>">

		<p>Park Slope Singers is always looking for enthusiastic singers! We usually accept new singers during the months of September and February, though we occasionally make exceptions (especially for tenors and basses), so please don't hesitate to reach out.</p>

		<p>If you think you might be interested in joining Park Slope Singers, or if you simply want more information, please email us at <a href="mailto:auditions@parkslopesingers.org"><strong>auditions@parkslopesingers.org</strong></a> with your name, email address, and phone number. If you don't hear back from us within several days, please call our president, Frank Bolton, at <strong>718-788-2282</strong>.</p>

		<p><strong>About PSS Membership: </strong>Regular rehearsals are on Monday evenings, and take place in one of the meeting rooms at Greenwood Baptist Church on 7th Avenue in Park Slope, Brooklyn. They begin promptly at 7:30 p.m. and last until about 10:00 p.m. Halfway through each rehearsal, we break for announcements and refreshments provided by the members.</p>

		<p>Additionally, there are one to two Saturday afternoon rehearsals a semester. As with most choruses, dress rehearsals are held in the venue where the concert is being given, and attendance at the dress rehearsal is mandatory in order to perform in the concert.</p>

	</div>
</div>
