<div class="Background">
	<div class="About">
	<h2>PSS in Performance</h2>
		<h4>Wolfgang Amadeus Mozart, <em>Ave Verum</em>: June 2014</h4>
			<video width="100%" controls frameborder="0" allowfullscreen> <source src=<%= image_path('AveVerum.mp4') %> type="video/mp4"></video></br>
		<h4>Joseph Haydn, <em>Lord Nelson Mass: I. Kyrie</em>: June 2014</h4>
			<video width="100%" controls frameborder="0" allowfullscreen> <source src=<%= image_path('Kyrie.mp4') %> type="video/mp4"></video>
	<h2>PSS Audio</h2>
		<p>
			Jun 2012: <a href="http://www.parkslopesingers.org/audio/11-12spring/12XThanksBeToGod.mp3"><em>Thanks Be To God</em> (Mendelssohn, <em>Elijah Part I</em> )</a></br></br>
			Jan 2010: <a href="http://www.parkslopesingers.org/audio/09-10fall/buked.mp3"><em>I've Been 'Buked</em></a></br></br>
			Jan 2010: <a href="http://www.parkslopesingers.org/audio/09-10fall/shenandoah.mp3"><em>Shenandoah</em></a></br></br>
			Jan 2010: <a href="http://www.parkslopesingers.org/audio/09-10fall/shirshomrim.mp3"><em>Shir Shomrim</em> (Soloist: Ira Spaulding)</a></br></br>
			Jan 2010: <a href="http://www.parkslopesingers.org/audio/09-10fall/everybird.mp3"><em>Every Bird That Soars The Sky</em> (Brahams, <em>Liebeslieder Waltzer #13</em> )</a></br></br>
			Jan 2009: <a href="http://www.parkslopesingers.org/audio/08-09fall/riverside.mp3"><em>Down By The Riverside</em></a></br></br>
			Jan 2009: <a href="http://www.parkslopesingers.org/audio/08-09fall/shiningnight.mp3"><em>Shure On This Shining Night</em></a></br></br>
		</p>
	</div>
</div>