<div class="Background">
	<div class="About">
	<h2>Support PSS</h2>

	<h3>Become a Friend, Patron, or Sponsor</h3>
	<p>We would love for you or your business to become a Friend, Patron, or Sponsor of the Park Slope Singers! </br>
	</br><strong>Friends</strong> make at least a $100 donation for the concert year. They are listed in the program for every concert during the year, have their business information posted on our website, and receive two tickets for both our winter and spring concerts.</br>
	</br><strong>Patrons</strong> make at least a $40 donation for the concert year. They are listed in the program for every concert during the year, have their business information posted and linked to on our website, and receive two tickets for both our winter and spring concerts.</br>
	</br><strong>Sponsors</strong> make at least a $25 donation for the concert year. They are listed in the program for every concert during the year, have their name posted on our website, and receive one ticket for both our winter and spring concerts.</br>
	</br>The Park Slope Singers is a 501(c)(3) organization, and any donation you make is tax-deductible.</p>
<!-- 	<button><a href="#">Make a Donation</a></button> -->
	<hr id="line1">
	<hr id="line2">
	<h3>2015 Friends of PSS</h3>
	<table border="0" cellpadding="10" class="support">
		<tr>
			<td><strong>Madeline Lee</strong></td>
			<td><strong>Frank & Barbara Bolton</strong></td>
		</tr>
		<tr>
			<td><strong>Joe Delfausse</strong></td>
			<td><strong>Melissa Keane</strong></td>
		</tr>
		<tr>
			<td><strong>Vicki Panvini Lane</br><small>Voice Teacher & Vocal Coach</small></strong></br>(718) 236-1854</br>(917) 916-1854</td>
			<td class="column_1"><strong>Rick Anderson </br>& Gail Green-Anderson</strong></td>
		</tr>
	</table>
	<hr id="line1">
	<hr id="line2">
	<h3>2015 Patrons of PSS</h3>
	<h5><em>All addresses are in Brooklyn unless otherwise specified.</em></h5>
	<table border="0" cellpadding="10" class="support">
		<tr>
			<td><strong>Linda & Alan Horlick</strong></td>
			<td><strong>Paul & Evelyn</strong></td>
		</tr>
		<tr>
			<td class="column_1"><strong>7th Avenue Copy & Office Supplies</strong></br>315 7th Avenue</br>(718) 965-2707</br><a href="http://www.7thavecopy.com/home">7thavecopy.com</a></td>
			<td><strong>Decorada Wallcovering</strong></br>1376 East 31st Street</br>(917) 755-3915</br>DecoRada@aol.com</td>
		</tr>
		<tr>
			<td><strong>12th Street Bar & Grill</strong></br>1123 8th Avenue</br>(718) 965-9526</td>
			<td><strong>Ansonia Chemist Pharmacy</strong></br>358 7th Avenue</br>(718) 965-0565</td>

		</tr>
		<tr>
			<td><strong>Brooklyn Properties</br><small>Marie McIntyre, Associate Broker</small></strong></br>113 7th Avenue</br>(718) 857-2525</br><a href="http://www.brooklynproperties.com/">brooklynproperties.com</a></td>
			<td><strong>Hamilton's</br><small>Lunch, Dinner, Brunch, Bar</small></strong></br>2628 Fort Hamilton Parkway</br>(718) 438-0488</br><a href="http://hamiltonsbrooklyn.com/">hamiltonsbrooklyn.com</a></td>
		</tr>
		<tr>
			<td><strong>Bagel World</strong></br>339 5th Avenue</br>(718) 499-1143</td>
			<td><strong>Pizza Plus</strong></br>359 7th Avenue</br>(718) 768-5327</td>
		</tr>
		<tr>
			<td><strong>C.E. Scott Brewster</br><small>CFP, MBA</small></strong></br>Brewster Financial Planning, LLC</br><a href="http://brewsterfp.com/">brewsterfp.com</a></td>
			<td><strong>Otto</strong></br>354 7th Avenue</br>(718) 788-6627</br><a href="http://ottobrooklyn.com/">ottobrooklyn.com</a></td>
		</tr>
		<tr>
			<td><strong>Toy Space</strong></br>7th Avenue and 14th Street</br>(718) 369-9096</br><a href="http://toyspaceny.com">toyspaceny.com</a></td>
			<td><strong>Gerard Friedman</br><small>Certified Athletic Trainer & Personal Trainer</small></strong></br>(201) 356-3638</br>GerardFriedman@yahoo.com</td>

		</tr>
		<tr>
			<td><strong>Tarzian Hardware</strong></br>193 7th Avenue</br>(718) 788-4120</br><a href="http://tarzianhardware.com">tarzianhardware.com</a></td>
			<td><strong>J. Barnaby Cullen</strong></br>"Best wishes to Grandma </br>and the Park Slope Singers!"</td>
		</tr>
		
	</table>
	<hr id="line1">
	<hr id="line2">
	<h3>2015 Sponsors of PSS</h3>
	<h5><em>All addresses are in Brooklyn unless otherwise specified.</em></h5>
	<table border="0" cellpadding="10" class="support">
		<tr>
			<td class="column_1"><strong>Back to the Land</strong></br>142 7th Avenue</br>(718) 768-5654</br></td>
			<td><strong>Leopoldi Hardware</strong></br>415 5th Avenue</br>(718) 499-6563</br></td>
		</tr>
		<tr>
			<td><strong>Damascus Bread & Bakery</strong></br>195 Atlantic Avenue</br>(718) 625-7070</td>
			<td><strong>Lisa Polansky, Inc.</br><small>Women & Children's Clothing</small></strong></br>121 7th Avenue</br>(718) 622-8071</td>
		</tr>
		<tr>
			<td><strong>Peppino's</br><small>Brick Oven Pizza & Restaurant</small></strong></br>7708 3rd Avenue</br>(718) 833-3364</br></br>469 5th Avenue</br>(718) 768-7244</br></td>
			<td><strong>Pet Boutique & Supply</strong></br>129 6th Avenue</br>(718) 622-2129</br></br>320 5th Avenue</br>(718) 832-7600</br></td>
		</tr>
	</table>
	
	</div>
</div>