<div class="Background">
	<div class="About">
		<h2>Support PSS</h2>

		<p>We would love for you or your business to become a Friend, Patron, Anniversary Sponsor, or Presenting Sponsor of the Park Slope Singers! <br>

		<br><strong>Presenting Sponsors</strong> donate $1000 or more for the concert year. Presenting Sponsors receive two complimentary tickets for both the winter and spring concerts, and are also listed in our concert programs and on our website's front page. We also list Presenting Sponsor business information on our flyers and postcards, which notify fans about upcoming concerts.<br>
		<br><strong>Sponsors</strong> donate $400 or more for the concert year. Sponsors receive two complimentary tickets for both the winter and spring concerts, in addition to being listed in our concert programs and on our website's Supporters page.<br>
		<br><strong>Patrons</strong> donate $100 or more for the concert year. Patrons receive two complimentary tickets for both the winter and spring concerts, in addition to being listed in our concert programs and on our website's Supporters page.<br>
		<br><strong>Friends</strong> donate $60 or more for the concert year. Friends receive one complimentary ticket to the winter concert and one complimentary ticket to the spring concert, in addition to being listed in our concert programs and on our website's Supporters page.<br>
		<br>The Park Slope Singers is a 501(c)(3) organization, and any donation you make is tax-deductible.<br>
		<br>Please email <a href="mailto:info@parkslopesingers.org"><strong>info@parkslopesingers.org</strong></a> to inquire about becoming a supporter of the Park Slope Singers. We appreciate your interest and your support of local music!</p>
		
		<br>

		<h3>2019 Supporters of PSS</h3>
		<h5><em>All addresses are in Brooklyn unless otherwise specified.</em></h5>
		<hr id="line1">
		<hr id="line2">

		<h4>2019 Presenting Sponsors</h4>

		<div class="sponsors">
			<a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
		</div>

		<h4>2019 Sponsors</h4>

		<table border="0" cellpadding="10" class="support">
			<tr>
				<td><strong>Rose Murphy & Mike Salvatore</strong><br></td>
			</tr>
			<tr>
				<td><strong>Anonymous</strong><br></td>
			</tr>
		</table>
		<br>

		<hr id="line1">
		<hr id="line2">

		<h4>2019 Patrons of PSS</h4>

		<table border="0" cellpadding="10" class="support">
			<tr>
				<td class='column_1'>
					<strong>Bagel World</strong><br>
					339 5th Avenue<br>
					(718) 499-1143<br>
					<a href="http://www.bagelworldparkslope.com" target="_blank">
						www.bagelworldparkslope.com
					</a>
				</td>
				<td>
					<strong>Park Slope Day Camp</strong><br>
					694 5th Avenue<br>
					718-7888-PSDC (7732)<br>
					<a href="http://www.parkslopedaycamp.com" target="_blank">
						www.parkslopedaycamp.com
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Tarz Palomba, JD, LP, NCPSYA</strong><br>
					220 5th Avenue, #300 (Manhattan)<br>
					(201) 618-9611<br>
					tarz.palomba@gmail.com
				</td>
				<td>
					<strong>7th Avenue Wine & Liquor Company</strong><br>
					88 7th Avenue<br>
					(718) 399-3300<br>
					@7thAveLiquor
				</td>
			</tr>
			<tr>
				<td>
					<strong>7th Avenue Copy & Office Supplies</strong><br>
					315 7th Avenue<br>
					(718) 965-2707<br>
					<a target="_blank" href="http://www.7thavecopy.com/home">7thavecopy.com</a>
				</td>
				<td>
					<strong>Resolutions Mediation Services, LLC</strong><br>
					120 Garfield Place, #A6<br>
					(718) 965-9236<br>
					<a href="http://www.mediate2Resolution.com " target="_blank">www.mediate2Resolution.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Shawn Fine Wine & Spirits</strong><br>
					141 7th Avenue<br>
					(718) 622-7947<br>
					<a href="http://www.shawnfinewine.com" target="_blank">www.shawnfinewine.com</a>
				</td>
				<td>
					<strong>Vicki Panvini Lane</strong><br>
					Voice Teacher / Vocal Coach<br>
					(718) 236-1854<br>
					(917) 916-1854<br>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Marie McIntyre</strong><br>
					Associate Broker, Brooklyn Properties<br>
					113 7th Ave<br>
					(917) 626-8987<br>
					marie@brooklynproperties.com
				</td>
				<td>
					<strong>Music Together of Bay Ridge</strong><br>
					Five locations in Bay Ridge,<br>
					Dyker Heights, Sheepshead Bay,<br>
					& Midwood/Marine Park<br>
					(718) 499-2866<br>
					<a href="http://www.musictogetherbr.com" target="_blank">
						www.musictogetherbr.com 
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Purity Diner</strong><br>
					289 7th Ave<br>
					(718) 840-0881<br>
					@PurityDiner
				</td>
				<td>
					<strong>Sterling National Bank</strong><br>
					110 7th Ave<br>
					(718) 789-411<br>
					<a href="http://www.snb.com" target="_blank">
						www.snb.com
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Tarzian Hardware</strong><br>
					193 7th Avenue<br>
					(718) 788-4120<br>
					<a target="_blank" href="http://www.tarzianhardware.com">tarzianhardware.com</a>
				</td>
				<td>
					<strong>Jeffrey Kramer, DMD, FAGD</strong><br>
					544 Court Street<br>
					(718) 624-5554<br>
					<a target="_blank" href="http://www.smilesbydrkramer.com">www.smilesbydrkramer.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Impressive Dental Care</strong><br>
					7815 4th Avenue<br>
					(718) 748-1507<br>
					info@impressivedentalcare.com
				</td>
				<td>
					<strong>Hiller & Moon</strong><br>
					Purveyors of Cheese & Fine Food<br>
					814 Union Street<br>
					(718) 230-5150
				</td>
			</tr>
			<tr>
				<td>
					<strong>Da Nonna Rosa</strong><br>
					Cucina Italiana<br>
					140 7th Avenue<br>
					(718) 788-6225<br>
					<a href="http://www.danonnarosas.com" target="_blank">www.danonnarosas.com</a>
				</td>
				<td>
					<strong>Alexandre Barbier</strong><br>
					Brown Harris Stevens Real Estate LLC<br>
					244 5th Avenue<br>
					(718) 768-1957<br>
					abarbier@bhsusa.com
				</td>
			</tr>
			<tr>
				<td><strong>Debra Ziegler</strong></td>
				<td><strong>Barbara & Frank Bolton</strong></td>
			</tr>
			<tr>
				<td><strong>Margaret Hagen</strong></td>
				<td><strong>Jackson Mallin Family</strong></td>
			</tr>
			<tr>
				<td><strong>W.H. Bailey &<br>Laurie B. Eichengreen</strong></td>
				<td><strong>Rick Anderson &<br>Gail Green-Anderson</strong></td>
			</tr>
			<tr>
				<td><strong>Anonymous</strong></td>
			</tr>
		</table>

		<hr id="line1">
		<hr id="line2">

		<h4>2019 Friends of PSS</h4>

		<table border="0" cellpadding="10" class="support">
			<tr>
				<td class='column_1'>
					<strong>Helene & Marie</strong><br>
				</td>
				<td>
					<strong>Anonymous</strong><br>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Büro NY Architecture Design</strong><br>
					Gisela Baurmann & Jonas Coersmeier<br>
					695 President Street<br>
					(917) 443-0458<br>
					gisela@burony.com
				</td>
				<td>
					<strong>Ari Kirtchuk</strong><br>
					AT&T Telepage<br>
					99 7th Ave<br>
					718-636-0007
				</td>
			</tr>
			<tr>
				<td>
					<strong>Leopoldi Hardware</strong><br>
					415 5th Avenue<br>
					(718) 499-6563<br>
					<a target="_blank" href="http://www.truevalue.com/leopoldi">www.truevalue.com/leopoldi</a>
				</td>
				<td>
					<strong>DC Optics</strong><br>
					390 Myrtle Avenue<br>
					(347) 504-1121<br>
					<a href="http://www.dc-optics.com" target="_blank">www.dc-optics.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Greentree Pharmacy</strong><br>
					291 7th Avenue<br>
					(718) 768-2700<br>
					<a href="http://www.greentreepharmacy.com" target="_blank">www.greentreepharmacy.com</a>
				</td>
				<td>
					<strong>Cut Above on 7th</strong><br>
					111 7th Avenue<br>
					(718) 239-7770<br>
					cutaboveon7th@gmail.com
				</td>
			</tr>
			<tr>
				<td>
					<strong>Bodhi Salon</strong><br>
					6806 3rd Avenue<br>
					<a href="http://www.bodhisalon.com" target="_blank">www.bodhisalon.com</a>
				</td>
				<td>
					<strong>Windsor Farms Key Foods</strong><br>
					589 Prospect Avenue<br>
					(718) 788-0323<br>
					<a target="_blank" href="http://www.keyfood.com">www.keyfood.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Elan Salon and Spa</strong><br>
					147 7th Avenue<br>
					(718) 789-1700<br>
					<a target="_blank" href="http://www.elansalonandspa.com">www.elansalonandspa.com</a>
				</td>
				<td>
					<strong>Toy Space</strong><br>
					7th Avenue and 14th Street<br>
					(718) 369-9096<br>
					<a target="_blank" href="http://toyspaceny.com">www.toyspaceny.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Watami Sushi & Grill</strong><br>
					206 Garfield Place<br>
					(929) 298-0193<br>
					<a target="_blank" href="http://watamisushibrooklyn.com">watamisushibrooklyn.com</a>
				</td>
				<td>
					<strong>Damascus Bread and Bakery</strong><br>
					195 Atlantic Avenue<br>
					(718) 625-7070<br>
					<a target="_blank" href="http://www.damascusbakery.com">www.damascusbakery.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Glitz Jewelers</strong><br>
					117 7th Avenue<br>
					(718) 230-5524<br>
					glitz7thave@gmail.com
				</td>
				<td>
					<strong>Christina Dream Dance</strong><br>
					2903 Fort Hamilton Parkway<br>
					(929) 295-0337<br>
					<a target="_blank" href="https://www.christinadreamdance.com">www.christinadreamdance.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Mary Nocerino, Hairstylist</strong><br>
					Medusa Salon<br>
					177 7th Avenue<br>
					(718) 965-3999<br>
					<a target="_blank" href="http://www.medusasalonny.com">www.medusasalonny.com</a>
				</td>
				<td>
					<strong>String Thing Studio</strong><br>
					54 7th Avenue<br>
					(929) 337-6130<br>
					<a target="_blank" href="http://www.stringthingstudio.com ">www.stringthingstudio.com</a>
				</td>
			</tr>
		</table>
	
	</div>
</div>