<div class="Background">
	<div class="About">
		<h2>Support PSS</h2>

		<p>We would love for you or your business to become a Friend, Patron, Anniversary Sponsor, or Presenting Sponsor of the Park Slope Singers! <br>

		<br><strong>Presenting Sponsors</strong> donate $1000 or more for the concert year. Presenting Sponsors receive two complimentary tickets for both the winter and spring concerts, and are also listed in our concert programs and on our website's front page. We also list Presenting Sponsor business information on our flyers and postcards, which notify fans about upcoming concerts.<br>
		<br><strong>Anniversary Sponsors</strong> will help mark our 25th anniversary by donating $400 or more for the concert year. Anniversary Sponsors receive two complimentary tickets for both the winter and spring concerts, in addition to being listed in our concert programs and on our website's Supporters page.<br>
		<br><strong>Patrons</strong> donate $100 or more for the concert year. Patrons receive two complimentary tickets for both the winter and spring concerts, in addition to being listed in our concert programs and on our website's Supporters page.<br>
		<br><strong>Friends</strong> donate $60 or more for the concert year. Friends receive one complimentary ticket to the winter concert and one complimentary ticket to the spring concert, in addition to being listed in our concert programs and on our website's Supporters page.<br>
		<br>The Park Slope Singers is a 501(c)(3) organization, and any donation you make is tax-deductible.<br>
		<br>Please email <a href="mailto:info@parkslopesingers.org"><strong>info@parkslopesingers.org</strong></a> to inquire about becoming a supporter of the Park Slope Singers. We appreciate your interest and your support of local music!</p>
		
		<br>

		<h3>2018 Supporters of PSS</h3>
		<h5><em>All addresses are in Brooklyn unless otherwise specified.</em></h5>
		<hr id="line1">
		<hr id="line2">

		<h4>2018 Presenting Sponsors</h4>

		<div class="sponsors">
			<a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
		</div>

		<h4>2018 Anniversary Sponsors</h4>

			<table border="0" cellpadding="10" class="support">
				<tr>
					<td><strong>Debra Ziegler</strong><br></td>
					<td><strong>Anonymous</strong><br></td>
				</tr>
			</table>
			<br>

		<hr id="line1">
		<hr id="line2">

		<h4>2018 Patrons of PSS</h4>

		<table border="0" cellpadding="10" class="support">
			<tr>
				<td class='column_1'>
					<strong>Bagel World</strong><br>
					339 5th Avenue<br>
					(718) 499-1143<br>
					<a href="http://www.bagelworldparkslope.com" target="_blank">
						www.bagelworldparkslope.com
					</a>
				</td>
				<td>
					<strong>Park Slope Day Camp</strong><br>
					694 5th Avenue<br>
					718-7888-PSDC (7732)<br>
					<a href="http://www.parkslopedaycamp.com" target="_blank">
						www.parkslopedaycamp.com
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Back to the Land</strong><br>
					142 7th Avenue<br>
					(718) 768-5654<br>
				</td>
				<td>
					<strong>7th Avenue Wine & Liquor Company</strong><br>
					88 7th Avenue<br>
					(718) 399-3300<br>
					@7thAveLiquor
				</td>
			</tr>
			<tr>
				<td>
					<strong>Büro NY Architecture Design</strong><br>
					Gisela Baurmann & Jonas Coersmeier<br>
					695 President Street<br>
					(917) 443-0458<br>
					gisela@burony.com
				</td>
				<td>
					<strong>Robert Carroll</strong><br>
					44th District, Member of Assembly<br>
					416 7th Ave<br>
					(718) 788-7221<br>
					carrollr@nyassembly.gov
				</td>
			</tr>
			<tr>
				<td>
					<strong>Luis Martinez</strong><br>
					Dwell Residential Inc.<br>
					335 7th Ave<br>
					(718) 369-7900<br>
					luis@dwellresidentialny.com 
				</td>
				<td>
					<strong>Vicki Panvini Lane</strong><br>
					Voice Teacher / Vocal Coach<br>
					(718) 236-1854<br>
					(917) 916-1854<br>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Marie McIntyre</strong><br>
					Associate Broker, Brooklyn Properties<br>
					113 7th Ave<br>
					(917) 626-8987<br>
					marie@brooklynproperties.com
				</td>
				<td>
					<strong>Music Together of Bay Ridge</strong><br>
					Five locations in Bay Ridge,<br>
					Dyker Heights, Sheepshead Bay,<br>
					& Midwood/Marine Park<br>
					(718) 499-2866<br>
					<a href="http://www.musictogetherbr.com" target="_blank">
						www.musictogetherbr.com 
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Purity Diner</strong><br>
					289 7th Ave<br>
					(718) 840-0881
				</td>
				<td>
					<strong>Sterling National Bank</strong><br>
					110 7th Ave<br>
					(718) 789-411<br>
					<a href="http://www.snb.com" target="_blank">
						www.snb.com
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Tarzian Hardware</strong><br>
					193 7th Avenue<br>
					(718) 788-4120<br>
					<a target="_blank" href="http://tarzianhardware.com">tarzianhardware.com</a>
					<td><strong>Rick Anderson <br>& Gail Green-Anderson</strong></td>
				</td>
			</tr>
			<tr>
				<td><strong>Mike Salvatore</strong></td>
				<td><strong>Frank & Barbara Bolton</strong></td>
			</tr>
			<tr>
				<td><strong>W.H. Bailey & Laurie B. Eichengreen</strong></td>
				<td><strong>Ann Eisenstein</strong></td>
			</tr>
			<tr>
				<td><strong>Anonymous</strong></td>
			</tr>
		</table>

		<hr id="line1">
		<hr id="line2">

		<h4>2018 Friends of PSS</h4>

		<table border="0" cellpadding="10" class="support">
			<tr>
				<td class='column_1'>
					<strong>Acme Hall Studios</strong><br>
					Audio Recording & Music Lessons<br>
					435 9th St929-265-ACME<br>
					<a href="http://www.acmehallstudios.com" target="_blank">www.acmehallstudios.com</a>
				</td>
				<td>
					<strong>Ari Kirtchuk</strong><br>
					AT&T Telepage<br>
					99 7th Ave<br>
					718-636-0007
				</td>
			</tr>
			<tr>
				<td>
					<strong>7th Avenue Copy & Office Supplies</strong><br>
					315 7th Avenue<br>
					(718) 965-2707<br>
					<a target="_blank" href="http://www.7thavecopy.com/home">7thavecopy.com</a></td>
				<td>
					<strong>Park Slope Tutorial Services</strong><br>
					Judith Ferrenbach<br>
					718-499-3899<br>
					<a href="http://www.parkslopetutorial.com" target="_blank">www.parkslopetutorial.com</a><br>
					parkslopetutorial@gmail.com
				</td>
			</tr>
			<tr>
				<td>
					<strong>Leopoldi Hardware</strong><br>
					415 5th Avenue<br>
					(718) 499-6563<br>
					<a target="_blank" href="http://www.truevalue.com/leopoldi">www.truevalue.com/leopoldi</a>
				</td>
				<td>
					<strong>Orpheus Piano Co.</strong><br>
					929-344-2292<br>
					<a href="http://www.orpheuspianoco.com" target="_blank">www.orpheuspianoco.com</a><br>
					orpheuspianoco@gmail.com
				</td>
			</tr>
			<tr>
				<td>
					<strong>Ansonia Chemist Pharmacy &</strong><br>
					<strong>John Ferrandino, Personal Trainer</strong><br>
					358 7th Avenue<br>
					(718) 965-0565<br>
					john@RxFitnessnyc.com
				</td>
				<td>
					<strong>Cut Above on 7th</strong><br>
					111 7th Avenue<br>
					(718) 239-7770<br>
					cutaboveon7th@gmail.com
				</td>
			</tr>
			<tr>
				<td>
					<strong>Bodhi Salon</strong><br>
					6806 3rd Ave<br>
					<a href="http://www.bodhisalon.com" target="_blank">www.bodhisalon.com</a>
				</td>
				<td>
					<strong>Da Nonna Rosa</strong><br>
					Cucina Italiana<br>
					140 7th Ave<br>
					(718) 788-6225<br>
					<a href="http://www.danonnarosas.com" target="_blank">www.danonnarosas.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Elan Salon</strong><br>
					147 7th Avenue<br>
					(718) 789-1700<br>
					<a target="_blank" href="http://www.elansalonandspa.com">www.elansalonandspa.com</a>
				</td>
				<td>
					<strong>Toy Space</strong><br>
					7th Avenue and 14th Street<br>
					(718) 369-9096<br>
					<a target="_blank" href="http://toyspaceny.com">www.toyspaceny.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Eye Shoppe on 7th</strong><br>
					133 7th Avenue<br>
					(718) 789-3322<br>
					<a target="_blank" href="http://www.EyeShoppe7.com">www.EyeShoppe7.com</a>
				</td>
				<td>
					<strong>Hamiltons - Beer, Wine, Food</strong><br>
					2826 Fort Hamilton Parkway<br>
					(718) 438-0488<br>
					<a target="_blank" href="http://www.hamiltonsbrooklyn.com">www.hamiltonsbrooklyn.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Juice Box Wine & Spirits</strong><br>
					1289 Prospect Avenue<br>
					(718) 871-1110<br>
				</td>
				<td>
					<strong>Matter - Coffee, Food, Drink</strong><br>
					76th Street & 3rd Avenue<br>
					(718) 650-3030<br>
					<a target="_blank" href="https://facebook.com/MATTERBAR/">Visit Our Facebook Page</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Mary Nocerino, Hairstylist</strong><br>
					Medusa Salon<br>
					177 7th Avenue<br>
					(718) 965-3999<br>
					<a target="_blank" href="http://www.medusasalonny.com">www.medusasalonny.com</a>
				</td>
				<td>
					<strong>String Thing Studio</strong><br>
					54 7th Avenue<br>
					(929) 337-6130<br>
					<a target="_blank" href="http://www.stringthingstudio.com ">www.stringthingstudio.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Windsor Farms, Key Foods</strong><br>
					589 Prospect Avenue<br>
					(718) 788-0323<br>
					<a target="_blank" href="http://www.keyfood.com">www.keyfood.com</a>
				</td>
			</tr>
		</table>
	
	</div>
</div>