<div class="Background">
	<div class="About">
		<h2>Support PSS</h2>

		<p>We would love for you or your business to become a Friend, Patron, Anniversary Sponsor, or Presenting Sponsor of the Park Slope Singers!</p><br>

		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick" />
			<input type="hidden" name="hosted_button_id" value="ZULTQTC3NNE5Q" />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
			<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
		</form>

		<br><p><strong>Presenting Sponsors</strong> donate $1000 or more for the concert year. Presenting Sponsors receive two complimentary tickets for both the winter and spring concerts, and are also listed in our concert programs and on our website's front page. We also list Presenting Sponsor business information on our flyers and postcards, which notify fans about upcoming concerts.<br>
		<br><strong>Sponsors</strong> donate $400 or more for the concert year. Sponsors receive two complimentary tickets for both the winter and spring concerts, in addition to being listed in our concert programs and on our website's Supporters page.<br>
		<br><strong>Patrons</strong> donate $100 or more for the concert year. Patrons receive two complimentary tickets for both the winter and spring concerts, in addition to being listed in our concert programs and on our website's Supporters page.<br>
		<br><strong>Friends</strong> donate $60 or more for the concert year. Friends receive one complimentary ticket to the winter concert and one complimentary ticket to the spring concert, in addition to being listed in our concert programs and on our website's Supporters page.<br>
		<br>The Park Slope Singers is a 501(c)(3) organization, and any donation you make is tax-deductible.<br>

		<br>Unable to donate online? Please email <a href="mailto:info@parkslopesingers.org"><strong>info@parkslopesingers.org</strong></a> to inquire about becoming a supporter of the Park Slope Singers. We appreciate your interest and your support of local music!</p>

		<h3>2020 Supporters of PSS</h3>
		<h5><em>All addresses are in Brooklyn unless otherwise specified.</em></h5>
		<hr id="line1">
		<hr id="line2">

		<h4>2020 Presenting Sponsors</h4>

		<div class="sponsors">
			<a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
		</div>

		<h4>2020 Sponsors</h4>

		<table border="0" cellpadding="10" class="support">
			<tr>
				<td class='column_1'><strong>Rick Anderson &<br>Gail Green-Anderson</strong></td>
				<td><strong>Debra Ziegler</strong></td>
			</tr>
			<tr>
				<td><strong>Barbara & Frank Bolton</strong></td>
				<td><strong>Anonymous</strong></td>
			</tr>
			<tr>
				<td></td>
				<td class='column_1'>
					<strong>Resolutions Mediation Services, LLC</strong><br>
					120 Garfield Place, #A6<br>
					(718) 965-9236<br>
					<a href="http://www.mediate2Resolution.com " target="_blank">www.mediate2Resolution.com</a>
				</td>
			</tr>
		</table>
		<br>

		<hr id="line1">
		<hr id="line2">

		<h4>2020 Patrons of PSS</h4>

		<table border="0" cellpadding="10" class="support">
			<tr>
				<td class='column_1'>
					<strong>Bagel World</strong><br>
					339 5th Avenue<br>
					(718) 499-1143<br>
					<a href="http://www.bagelworldparkslope.com" target="_blank">
						www.bagelworldparkslope.com
					</a>
				</td>
				<td>
					<strong>Park Slope Day Camp</strong><br>
					694 5th Avenue<br>
					718-7888-PSDC (7732)<br>
					<a href="http://www.parkslopedaycamp.com" target="_blank">
						www.parkslopedaycamp.com
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Büro NY Architecture Design</strong><br>
					Gisela Baurmann & Jonas Coersmeier<br>
					695 President Street<br>
					(917) 443-0458<br>
					gisela@burony.com
				</td>
				<td>
					<strong>7th Avenue Wine & Liquor Company</strong><br>
					88 7th Avenue<br>
					(718) 399-3300<br>
					@7thAveLiquor
				</td>
			</tr>
			<tr>
				<td>
					<strong>7th Avenue Copy & Office Supplies</strong><br>
					315 7th Avenue<br>
					(718) 965-2707<br>
					<a target="_blank" href="http://www.7thavecopy.com/home">7thavecopy.com</a>
				</td>
				<td>
					<strong>Capital One Bank, Park Slope Branch</strong><br>
					516 5th Avenue<br>
					(718) 768-8798
				</td>
			</tr>
			<tr>
				<td>
					<strong>Shawn Fine Wine & Spirits</strong><br>
					141 7th Avenue<br>
					(718) 622-7947<br>
					<a href="http://www.shawnfinewine.com" target="_blank">www.shawnfinewine.com</a>
				</td>
				<td>
					<strong>Vicki Panvini Lane</strong><br>
					Voice Teacher / Vocal Coach<br>
					(718) 236-1854<br>
					(917) 916-1854<br>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Elan Salon and Spa</strong><br>
					147 7th Avenue<br>
					(718) 789-1700<br>
					<a target="_blank" href="http://www.elansalonandspa.com">www.elansalonandspa.com</a>
				</td>
				<td>
					<strong>Music Together of Bay Ridge</strong><br>
					Five locations in Bay Ridge,<br>
					Dyker Heights, Sheepshead Bay,<br>
					& Midwood/Marine Park<br>
					(718) 499-2866<br>
					<a href="http://www.musictogetherbr.com" target="_blank">
						www.musictogetherbr.com 
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Purity Diner</strong><br>
					289 7th Ave<br>
					(718) 840-0881<br>
					@PurityDiner
				</td>
				<td>
					<strong>Haenyeo Restaurant</strong><br>
					239 5th Avenue<br>
					(718) 213-2290<br>
					<a href="https://haenyeobk.com" target="_blank">haenyeobk.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Tarzian Hardware</strong><br>
					193 7th Avenue<br>
					(718) 788-4120<br>
					<a target="_blank" href="http://www.tarzianhardware.com">tarzianhardware.com</a>
				</td>
				<td>
					<strong>Jeffrey Kramer, DMD, FAGD</strong><br>
					544 Court Street<br>
					(718) 624-5554<br>
					<a target="_blank" href="http://www.smilesbydrkramer.com">www.smilesbydrkramer.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Impressive Dental Care</strong><br>
					7815 4th Avenue<br>
					(718) 748-1507<br>
					info@impressivedentalcare.com
				</td>
				<td>
					<strong>Hiller & Moon</strong><br>
					Purveyors of Cheese & Fine Food<br>
					814 Union Street<br>
					(718) 230-5150
				</td>
			</tr>
			<tr>
				<td>
					<strong>Da Nonna Rosa</strong><br>
					Cucina Italiana<br>
					140 7th Avenue<br>
					(718) 788-6225<br>
					<a href="http://www.danonnarosas.com" target="_blank">www.danonnarosas.com</a>
				</td>
				<td>
					<strong>Tri-Parkway Cleaners</strong><br>
					3115 Fort Hamilton Parkway<br>
					(718) 438-7380
				</td>
			</tr>
			<tr>
				<td>
					<strong>Uncle Frankie's Brick Oven Pizza</strong><br>
					3007 Fort Hamilton Parkway<br>
					(718) 854-3462<br>
					<a href="http://www.unclefrankiesmenu.com" target="_blank">www.unclefrankiesmenu.com</a>
				</td>
				<td><strong>AϘΩ, The Society of Alpha<br>Quadrant Omega</strong></td>
			</tr>
			<tr>
				<td><strong>Margaret Hagen</strong></td>
				<td><strong>Jill Goodman</strong></td>
			</tr>
			<tr>
				<td><strong>Tootie Larios</strong></td>
				<td><strong>W.H. Bailey &<br>Laurie B. Eichengreen</strong></td>
			</tr>
			<tr>
				<td><strong>Anonymous</strong></td>
			</tr>
		</table>

		<hr id="line1">
		<hr id="line2">

		<h4>2020 Friends of PSS</h4>

		<table border="0" cellpadding="10" class="support">
			<tr>
				<td class='column_1'>
					<strong>Marie McIntyre</strong><br>
				</td>
				<td>
					<strong>Anonymous</strong><br>
				</td>
			</tr>
			<tr>
				<td>
					<strong>In Memory of Ken Fischetti</strong>
				</td>
				<td>
					<strong>Ari Kirtchuk</strong><br>
					AT&T Telepage<br>
					99 7th Ave<br>
					718-636-0007
				</td>
			</tr>
			<tr>
				<td>
					<strong>Leopoldi Hardware</strong><br>
					415 5th Avenue<br>
					(718) 499-6563<br>
					<a target="_blank" href="http://www.truevalue.com/leopoldi">www.truevalue.com/leopoldi</a>
				</td>
				<td>
					<strong>Ballard's Pharmacy</strong><br>
					226 Prospect Park West<br>
					(718) 768-1325
				</td>
			</tr>
			<tr>
				<td>
					<strong>Greentree Pharmacy</strong><br>
					291 7th Avenue<br>
					(718) 768-2700<br>
					<a href="http://www.greentreepharmacy.com" target="_blank">www.greentreepharmacy.com</a>
				</td>
				<td>
					<strong>Cut Above on 7th</strong><br>
					111 7th Avenue<br>
					(718) 239-7770<br>
					cutaboveon7th@gmail.com
				</td>
			</tr>
			<tr>
				<td>
					<strong>CNS Construction</strong><br>
					1626 10th Avenue<br>
					(718) 965-3221<br>
					<a target="_blank" href="http://www.cnsconstructionny.com">www.cnsconstructionny.com</a>
				</td>
				<td>
					<strong>Windsor Farms Key Foods</strong><br>
					589 Prospect Avenue<br>
					(718) 788-0323<br>
					<a target="_blank" href="http://www.keyfood.com">www.keyfood.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>The Hamilton Dog House</strong><br>
					155 East 3rd Street<br>
					(718) 436-PETS<br>
					<a target="_blank" href="http://www.theHamiltonDogHouse.com ">www.theHamiltonDogHouse.com </a>
				</td>
				<td>
					<strong>Toy Space</strong><br>
					7th Avenue and 14th Street<br>
					(718) 369-9096<br>
					<a target="_blank" href="http://toyspaceny.com">www.toyspaceny.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Park West Vision</strong><br>
					218 Prospect Park West<br>
					(718) 768-1498
				</td>
				<td>
					<strong>Damascus Bread and Bakery</strong><br>
					195 Atlantic Avenue<br>
					(718) 625-7070<br>
					<a target="_blank" href="http://www.damascusbakery.com">www.damascusbakery.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Glitz Jewelers</strong><br>
					117 7th Avenue<br>
					(718) 230-5524<br>
					glitz7thave@gmail.com
				</td>
				<td>
					<strong>Christina Dream Dance</strong><br>
					2903 Fort Hamilton Parkway<br>
					(929) 295-0337<br>
					<a target="_blank" href="https://www.christinadreamdance.com">www.christinadreamdance.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Mary Nocerino, Hairstylist</strong><br>
					Medusa Salon<br>
					177 7th Avenue<br>
					(718) 965-3999<br>
					<a target="_blank" href="http://www.medusasalonny.com">www.medusasalonny.com</a>
				</td>
				<td>
					<strong>String Thing Studio</strong><br>
					54 7th Avenue<br>
					(929) 337-6130<br>
					<a target="_blank" href="http://www.stringthingstudio.com">www.stringthingstudio.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>United Meat Market</strong><br>
					219 Prospect Park West<br>
					(718) 768-7227
				</td>
				<td>
					<strong>Windsor Place Antiques</strong><br>
					1624 10th Avenue<br>
					@windorplaceantiques<br>
					<a target="_blank" href="http://www.windsorplaceantiques.com">www.windsorplaceantiques.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Westgate New York Grand Central</strong><br>
					304 East 42nd St, Manhattan<br>
					Reservations (877) 878-9873<br>
					Group Sales (212) 297-3437<br>
					<a target="_blank" href="https://www.westgateresorts.com/hotels/new-york/midtown-manhattan/westgate-new-york-grand-central/">
						www.westgateresorts.com
					</a>
				</td>
			</tr>
		</table>
	
	</div>
</div>