<div class="Background">
	<div class="About">
	<h2>Support PSS</h2>

	<h3>Become a Friend, Patron, or Sponsor</h3>
	<p>We would love for you or your business to become a Friend, Patron, or Sponsor of the Park Slope Singers! <br>
	<br><strong>Friends</strong> make at least a $100 donation for the concert year. They are listed in the program for every concert during the year, have their business information posted on our website, and receive two tickets for both our winter and spring concerts.<br>
	<br><strong>Patrons</strong> make at least a $50 donation for the concert year. They are listed in the program for every concert during the year, have their business information posted and linked to on our website, and receive two tickets for both our winter and spring concerts.<br>
	<br><strong>Sponsors</strong> make at least a $35 donation for the concert year. They are listed in the program for every concert during the year, have their name posted on our website, and receive one ticket for both our winter and spring concerts.<br>
	<br>The Park Slope Singers is a 501(c)(3) organization, and any donation you make is tax-deductible.<br>
	<br>Please fill out the form below to inquire about becoming a Friend, Patron, or Sponsor. We appreciate your interest and your support of local music!</p>
	
	
	<form action="http://208.112.120.170/pss/pssemail2.cfm" method="GET">
		<input type="hidden"  name="msg1"  value="Your message has been sent.">
		<center>
		<table border="0" cellpadding="10" class="form">
			<tr>
				<td id="column_2">Your Name:</td>
				<td><input class="input" type="text" name="name"></td>
			</tr>
			<tr>
					<td>Your Email Address:</td>
					<td><input class="input" type="text" name="email"></td>
			</tr>
			<tr>
					<td>Your Phone Number:</td>
					<td> <input class="input" type="text" name="phone"></td>
			</tr>
			<tr>
					<td>Your Comments:</td>
					<td><textarea  class="input" name="comments" rows="6"></textarea></td>
			</tr>
		</table></br></br>
		<button>Send Request</button>
		</center>
	</form>
	<br>

	<hr id="line1">
	<hr id="line2">
	<h3>2017 Friends of PSS</h3>
	<h5><em>All addresses are in Brooklyn unless otherwise specified.</em></h5>

	<h4>2017 Presenting Sponsors:</h4>

	<div class="sponsors">
		<a class="sponsor" href="http://flatrate.com" target="_blank"><img src="<%= image_path "flat_rate.jpeg" %>"></a>
		<a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
	</div>

	<table border="0" cellpadding="10" class="support">
		<tr>
			<td><em>Presenting Sponsor:</em><br><strong>Flat Rate Movers</strong></br>(212) 988-9292</br>flatrate.com</td>
			<td><em>Presenting Sponsor:</em><br><strong>Brewster Financial Planning</strong></br>641 President Street, Suite 102</br>(646) 249-9880<br>info@brewsterfp.com</td>
		</tr>
		<tr>
			<td><strong>Tracy Jackson & Noah Mallin</strong></br></td>
			<td><strong>Frank & Barbara Bolton</strong></td>
		</tr>
		<tr>
			<td><strong>Bagel World</strong></br>339 5th Avenue</br>(718) 499-1143<br><a href="http://www.bagelworldparkslope.com" target="_blank">www.bagelworldparkslope.com</a></td>
			<td><strong>Park Slope Day Camp</strong><br>694 5th Avenue<br>718-7888-PSDC (7732)<br><a href="http://www.parkslopedaycamp.com" target="_blank">www.parkslopedaycamp.com</a></td>
		</tr>
		<tr>
			<td><strong>Bert Marro</strong></td>
			<td><strong>Geoffrey C. Collins</strong></td>
		</tr>
		<tr>
			<td><strong>Rick Anderson </br>& Gail Green-Anderson</strong></td>
			<td><strong>Alexandre Barbier</strong><br>Douglas Elliman Real Estate<br>154 7th Ave<br>718-840-2053</td>
		</tr>
		<tr>
			<td class="column_1"><strong>Anonymous</strong></td>
			<td></td>
		</tr>
	</table>
	<hr id="line1">
	<hr id="line2">
	<h3>2017 Patrons of PSS</h3>
	<table border="0" cellpadding="10" class="support">
		<tr>
			<td><strong>Acme Hall Studios</strong><br>Audio Recording & Music Lessons<br>435 9th St929-265-ACME<br><a href="http://www.acmehallstudios.com" target="_blank">www.acmehallstudios.com</a></td>
			<td><strong>Park Slope Tutorial Services</strong><br>Judith Ferrenbach<br>718-499-3899<br><a href="http://www.parkslopetutorial.com" target="_blank">www.parkslopetutorial.com</a><br>parkslopetutorial@gmail.com</td>
		</tr>
		<tr>
			<td class="column_1"><strong>Back to the Land</strong></br>142 7th Avenue</br>(718) 768-5654</br></td>
			<td><strong>Damascus Bread & Bakery</strong></br>195 Atlantic Avenue</br>(718) 625-7070</td>
		</tr>
		<tr>
			<td class="column_1"><strong>7th Avenue Copy & Office Supplies</strong></br>315 7th Avenue</br>(718) 965-2707</br><a target="_blank" href="http://www.7thavecopy.com/home">7thavecopy.com</a></td>
			<td><strong>Ari Kirtchuk</strong><br>AT&T Telepage<br>99 7th Ave<br>718-636-0007</td>
		</tr>
		<tr>
			<td><strong>Leopoldi Hardware</strong></br>415 5th Avenue</br>(718) 499-6563</br></td>
			<td><strong>Orpheus Piano Co.</strong><br>929-344-2292<br><a href="http://www.orpheuspianoco.com" target="_blank">www.orpheuspianoco.com</a><br>orpheuspianoco@gmail.com</td>
		</tr>
		<tr>
			<td><strong>Purity Diner</strong><br>289 7th Ave<br>(718) 840-0881</td>
			<td><strong>Java Joe Coffee Tea & Spice Merchant</strong><br>414 8th Street<br><a href="http://www.javajoebrooklyn.com" target="_blank">www.javajoebrooklyn.com</a></td>
		</tr>
		<tr>
			<td><strong>Tarzian Hardware</strong></br>193 7th Avenue</br>(718) 788-4120</br><a target="_blank" href="http://tarzianhardware.com">tarzianhardware.com</a></td>
			<td><strong>Toy Space</strong></br>7th Avenue and 14th Street</br>(718) 369-9096</br><a target="_blank" href="http://toyspaceny.com">toyspaceny.com</a></td>
		</tr>
		<tr>
			<td><strong>W.H. Bailey & Laurie B. Eichengreen</strong></td>
		</tr>
	</table>

	<hr id="line1">
	<hr id="line2">
	<h3>2017 Sponsors of PSS</h3>
	<table border="0" cellpadding="10" class="support">
		<tr>
			<td><strong>Pizza Plus</strong></br>359 7th Avenue</br>(718) 768-5327<br><a href="http://www.pizzaplusmenu.com" target="_blank">www.pizzaplusmenu.com</a></td>
			<td><strong>Bridge the Gap</strong><br>Tutorial Services<br>(718) 499-6763<br>tutorlesson@aol.com</td>
		</tr>
		<tr>
			<td><strong>Ansonia Chemist Pharmacy</strong></br>358 7th Avenue</br>(718) 965-0565</td>
			<td><strong>Cut Above on 7th</strong></br>111 7th Avenue</br>(718) 239-7770<br>cutaboveon7th@gmail.com</td>
		</tr>
		<tr>
			<td><strong>Greenlight Bookstore</strong></br>686 Fulton Street </br>632 Flatbush Avenue<br>718-246-0200<br><a href="http://www.greenlightbookstore.com" target="_blank">www.greenlightbookstore.com</a></td>
		</tr>
	</table>
	
	</div>
</div>