<div class="Background">
	<div class="About">

		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members">Roster</a> | 
      <a href="/members/tracks">Track Listings</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

		<h2>Park Slope Singers By-Laws*</h2>

		<ol>
			<li><em>Name and Nature of Organization.</em> The name of this body is "Park Slope Singers". We are an open, egalitarian organization of individuals who have elected to meet on a regular basis for the purpose of singing. Coming from many different backgrounds, we agree to work together in an atmosphere of mutual respect. We are a "self-selected" group in that new members are not asked to audition or meet any other specific entrance criteria. Given, however, that we vary in our degree of musical ability, prospective members, after singing with the chorus for two rehearsals, are expected to make a responsible personal decision regarding their continued participation. (Individuals who are uncertain in this regard are encouraged to consult with the Director.)</li><br>

			<li><em>Officers and Executive Committee.</em> This organization shall have the following officers: President, Secretary, and Treasurer. These officers together with the four section leaders shall constitute the Executive Committee. The officers and section leaders shall be elected at the June business meeting for a term of one year.</li><br>

			<li><em>Dues.</em> Each member shall pay dues of $120 per term (raised to $160 with group concensus), payable in full by the middle of the term. In cases of extreme hardship, individuals may request a reduction or waiver of dues. All such requests shall be reviewed by the Executive Committee which may grant such reduction or waiver only by unanimous vote. The fees may be changed by majority vote of those present at a business meeting. (Note: we have customarily left waiver to the treasurer in consultation with the president.)</li><br>

			<li><em>Director and Accompanist.</em> The Executive Committee shall employ a Director and an Accompanist, and shall determine their fees (discussed at semi-annual business meeting with chorus). In making these decisions, the Committee will give due consideration to the advice and suggestions of the membership. The performance of, and the general satisfaction of the group with, the Director and the Accompanist will be reviewed at the business meetings.</li><br>

			<li><em>Selection of Music.</em> At the business meeting preceding a new term, the Director will be asked to recommend musical pieces for consideration by the group. In addition, any member may also make suggestions for consideration. All suggestions will be discussed in an open membership meeting. Based on this discussion, the Director will prepare a tentative program which will provide the basis for the new term. The Executive Committee, acting on the advice of the Director and with consideration of views expressed by the membership, will make the final decision regarding the program. Once the program is finalized, all members are expected to participate in the entire program.</li><br>

			<li><em>Attendance at Rehearsals.</em> In general it is expected that members will attend at least 75% of rehearsals in order to participate in the performance(s) for a given term. In particular, when a member is absent from both of the last two rehearsals immediately preceding a performance, his or her participation in the performance shall be at the discretion of the Director.</li><br>

			<li><em>Member Commitments.</em> As noted in the preceding articles, membership in PSS requires a commitment to attend the weekly rehearsals on a regular basis, to pay the dues in a timely manner, and to work with the other members of the group in a cooperative and respectful manner. In the event that a member fails to meet one or more of these commitments, the Executive Committee may, by unanimous vote, remove such individual from membership in PSS.</li><br>
		</ol>

		<p id="footnote"><em>*Approved at the business meeting of June 10, 1996. Amended June 1996, September 2002, and March 5 2010.</em></p>

	</div>
</div>