<div class="Background">
  <div class="About">

    <br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h3>Information for Carnegie Singers</h3>

    <h4><u>
      <%= link_to "Download schedule and general concert information", "/carnegie_info.doc" %>
      <br><br>
      <%= link_to "View Alex Qian's notes for the Requiem", "/alex_qian_notes.pdf" %>
    </u></h4>

    <img src="https://c2.staticflickr.com/2/1335/541911288_3c5a227c03_z.jpg?zz=1">

  </div>
</div>