<div class="Background">
	<div class="About">

		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

		<h2>Dress Code</h2>

		<h3>Winter Concert Attire</h3>	

		<p class="list_head"><strong>Women</strong></p>
		<ul class="dress_code">
			<li>Black skirt (if not ankle length, please wear black tights) or black pants to the ankle (no capris, pedal pushers, etc.)</li>
			<li>Black long-sleeve blouse (please – no plunging necklines)</li>
			<li>There should be no color or trim on anything, not even buttons</li>
			<li>Black shoes and socks</li>
			<li>Modest jewelry (small necklaces/earrings)</li>
		</ul>

		<p class="list_head"><strong>Men</strong></p>
		<ul class="dress_code">
			<li>Black or dark blue suit</li>
			<li>Black shirt</li>
			<li>Black bow tie</li>
			<li>Black shoes</li>
		</ul>

		<h3>Spring Concert Attire</h3>
	
		<p class="list_head"><strong>Women</strong></p>
		<ul class="dress_code">
			<li>Black skirt (if not ankle length, please wear black tights) or black pants to the ankle (no capris, pedal pushers, etc.)</li>
			<li>Black blouse or nice top (no T-shirts please) with short or ¾ sleeve (not sleeveless)</li>
			<li>Black shoes or, if it’s hot, black undecorated sandals (that don’t make noise as you walk)</li>
			<li>Modest jewelry (small necklaces/earrings)</li>
		</ul>

		<p class="list_head"><strong>Men</strong></p>
		<ul class="dress_code">
			<li>Black pants
			<li>Black shirt with black buttons (no white T-shirt showing, please)</li>
			<li>No tie</li>
			<li>Black shoes</li>
		</ul>

		<p><strong>Notes:</strong> "Dress rehearsal" does not require that you wear concert dress. Come casually. The dress code for the concert is for the day / evening of the concert only.</p>
		<p>Also, please refrain from wearing perfume or after-shave lotion. Some people are hyper-sensitive or even allergic.</p>

	</div>
</div>
