<div class="Background">
	<div class="About">

		<br>
		<nav class="members_nav">
			<a href="/members/<%= @member.id %>">Member Home</a> | 
			<a href="/members/<%= @member.id %>/edit">Your Profile</a> |  
			<a href="/members/tracks">Track Listings</a> |  
			<a href="/members/schedule">Schedule</a> | 
			<a href="/members/dress_code">Dress Code</a> | 
			<a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
		</nav>

		<h2>Edit Your Profile</h2>
		
	</div>
</div>