<div class="Background">
  <div class="about_roster">

    <br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>Member Roster</h2>

    <h5>If you notice that your personal information is incorrect, <br>please let a board member or your section leader (highlighted below) know.</h5>

    <iframe width="100%" height="700px" src="https://docs.google.com/spreadsheets/d/1K_GvHSNQ-LJnsYYH4za3LQ5xS3vMH5DkTSN6i-oUztE/pubhtml?widget=true&amp;headers=false"></iframe>

  </div>
</div>
