<div class="Background">
  <div class="About">

    <br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>2019-2020 Rehearsal Schedule</h2>

<!--    <h3>We're working on it!</h3>

    <img src="http://i.imgur.com/cgd8X3F.gif" style="width: 75%"> -->
    <h3>Fall Semester 2019</h3>

    <table border="1" cellpadding="10" class="support" style="font-size:1em">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Event</th>
        <th>Location</th>
      </tr>
      <tr>
        <td>9-9-19</td>
        <td>7:30-10:00pm</td>
        <td><strong>First Rehearsal</strong></td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>9-16-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>9-23-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>9-30-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>10-7-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>10-14-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>10-21-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>10-28-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>11-4-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>11-11-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>11-16-19</td>
        <td>1:00-4:00pm</td>
        <td><strong>Saturday Rehearsal</strong></td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>11-18-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>11-25-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>12-2-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>12-9-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>12-16-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>12-23-19</td>
        <td>---------</td>
        <td><strong>NO REHEARSAL</strong></td>
        <td>---------</td>
      </tr>
      <tr>
        <td>12-30-19</td>
        <td>---------</td>
        <td><strong>NO REHEARSAL</strong></td>
        <td>---------</td>
      </tr>
      <tr>
        <td>1-6-20</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal (At 9:30, Over 3 Absences Sing)</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>1-11-20</td>
        <td>1:00-4:00pm</td>
        <td><strong>Saturday Rehearsal</strong></td>
        <td>Old First (Park Slope)</td>
      </tr>
      <tr>
        <td>1-13-20</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Good Shepherd (Bay Ridge)</td>
      </tr>
      <tr>
        <td>1-20-20</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>Greenwood Baptist Church</td>
      </tr>
      <tr>
        <td>1-22-20</td>
        <td>7:30-10:00pm</td>
        <td><strong>Wednesday Dress Rehearsal&diams;</strong></td>
        <td>Old First (Park Slope)</td>
      </tr>
      <tr>
        <td><strong>1-25-20</strong></td>
        <td><strong>3:00pm (1:15pm call)</strong></td>
        <td><strong><strong>Concert</strong></strong></td>
        <td><strong>Old First (Park Slope)</strong></td>
      </tr>
      <tr>
        <td><strong>1-26-20</strong></td>
        <td><strong>3:00pm (1:15pm call)</strong></td>
        <td><strong><strong>Concert</strong></strong></td>
        <td><strong>Good Shepherd (Bay Ridge)</strong></td>
      </tr>
      <tr>
        <td>1-27-20</td>
        <td>7:30pm</td>
        <td>Business Meeting</td>
        <td>Greenwood Baptist Church</td>
      </tr>
    </table>

   <!-- <h3>Spring Semester 2018</h3>

   <h5>Hang tight! This schedule is still being updated.</h5>
   <img src="http://i.imgur.com/cgd8X3F.gif">

    <table border="1" cellpadding="10" class="support" style="font-size:1em">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Event</th>
        <th>Location</th>
      </tr>
      <tr>
        <td>2-5-19</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>2-12-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>2-19-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>2-26-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>3-5-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>3-12-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>3-18-18</td>
        <td>1:00-4:00pm</td>
        <td><strong>Saturday Rehearsal</strong></td>
        <td>St. Saviour Church (Upstairs)**</td>
      </tr>
      <tr>
        <td>3-19-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>3-26-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>4-2-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>4-9-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>4-16-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>4-23-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>4-30-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>5-7-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)**</td>
      </tr>
      <tr>
        <td>5-12-18</td>
        <td>1:00-4:00pm</td>
        <td><strong>Saturday Rehearsal</strong></td>
        <td>St. Saviour Church (Upstairs)**</td>
      </tr>
      <tr>
        <td>5-14-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Augustine Church</td>
      </tr>
      <tr>
        <td>5-21-18</td>
        <td>7:30-10:00pm</td>
        <td>Rehearsal</td>
        <td>St. Saviour Church (Parish Hall)**</td>
      </tr>
      <tr>
        <td>5-28-18</td>
        <td>7:30-10:00pm</td>
        <td><strong>Dress Rehearsal&diams;</strong></td>
        <td>Good Shepherd</td>
      </tr>
      <tr>
        <td>5-31-18</td>
        <td>7:30-10:00pm</td>
        <td><strong>Thursday Dress Rehearsal&diams;</strong></td>
        <td>St. Augustine Church</td>
      </tr>
      <tr>
        <td><strong>6-2-18</strong></td>
        <td><strong>2:00pm (call 11:00)</strong></td>
        <td><strong>Concert</strong></td>
        <td><strong>Good Shepherd</strong></td>
      </tr>
      <tr>
        <td><strong>6-3-18</strong></td>
        <td><strong>5:00pm (call 3:30)</strong></td>
        <td><strong>Concert</strong></td>
        <td><strong>St. Augustine Church</strong></td>
      </tr>
      <tr>
        <td>6-4-18</td>
        <td>7:30-10:00pm</td>
        <td>Business Meeting</td>
        <td>St. Saviour Church (Parish Hall)</td>
      </tr>
      <tr>
        <td>TBD</td>
        <td>TBD</td>
        <td>End-of-Season Picnic</td>
        <td>Prospect Park**</td>
      </tr>
    </table> -->

    <h5>**Location TBD or subject to change</h5>
    <h5>&diams;Singers MUST attend the dress rehearsal to sing in the concerts</h5>
  </div>
</div>