<div class="Background">
	<div class="About">
		
		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

		<h2>2015-2016 Rehearsal Schedule</h2>
		<h3>Fall Semester</h3>

		<table border="1" cellpadding="10" class="support" style="font-size:1em">
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Event</th>
				<th>Location</th>
			</tr>
			<tr>
				<td>9-14-15</td>
				<td>7:30-10:00pm</td>
				<td><strong>First Rehearsal</strong></td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>9-21-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>9-28-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>10-3-15</td>
				<td>1:00-4:00pm</td>
				<td><strong>Saturday Rehearsal</strong></td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>10-5-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>10-12-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>10-19-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>10-26-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>11-2-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>11-9-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>11-16-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>11-21-15</td>
				<td>1:00-4:00pm</td>
				<td><strong>Saturday (Sectionals Only)</strong></td>
				<td>St. Saviour Church**</td>
			</tr>
			<tr>
				<td>11-23-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>11-30-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>12-7-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>12-14-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>12-21-15</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>12-28-15</td>
				<td>---------</td>
				<td><strong>NO REHEARSAL</strong></td>
				<td>---------</td>
			</tr>
			<tr>
				<td>1-4-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>1-11-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>1-16-16</td>
				<td>1:00-4:00pm</td>
				<td><strong>Saturday Rehearsal</strong></td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>1-18-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>1-25-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>Good Shepherd</td>
			</tr>
			<tr>
				<td>1-28-16</td>
				<td>7:30-10:00pm</td>
				<td><strong>Thursday Dress Rehearsal&diams;</strong></td>
				<td>St. Saviour Church (Upstairs)</td>
			</tr>
			<tr>
				<td><strong>1-30-16</strong></td>
				<td><strong>3:00pm</strong></td>
				<td><strong><strong>Concert</strong></strong></td>
				<td><strong>Church of the Good Shepherd</strong></td>
			</tr>
			<tr>
				<td><strong>1-31-16</strong></td>
				<td><strong>3:00pm</strong></td>
				<td><strong><strong>Concert</strong></strong></td>
				<td><strong>St. Saviour Church</strong></td>
			</tr>
		</table>

		<h3>Spring Semester</h3>

		<table border="1" cellpadding="10" class="support" style="font-size:1em">
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Event</th>
				<th>Location</th>
			</tr>
			<tr>
				<td>2-1-16</td>
				<td>7:30pm</td>
				<td>Business Meeting</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>2-8-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>2-15-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>2-22-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>2-27-16</td>
				<td>1:00-4:00pm</td>
				<td><strong>Saturday Rehearsal</strong></td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>2-29-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>3-7-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>3-14-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>3-21-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>3-28-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>4-4-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>4-11-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>4-18-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>4-25-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>5-2-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>5-9-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>5-16-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>5-21-16</td>
				<td>1:00-4:00pm</td>
				<td><strong>Saturday Rehearsal</strong></td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>5-23-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>Good Shepherd**</td>
			</tr>
			<tr>
				<td>5-30-16</td>
				<td>7:30-10:00pm</td>
				<td>Rehearsal</td>
				<td>Good Shepherd**</td>
			</tr>
			<tr>
				<td>6-2-16</td>
				<td>7:30-10:00pm</td>
				<td><strong>Thursday Dress Rehearsal&diams;</strong></td>
				<td>St. Saviour Church (Upstairs)</td>
			</tr>
			<tr>
				<td><strong>6-4-16</strong></td>
				<td><strong>3:00pm</strong></td>
				<td><strong>Concert</strong></td>
				<td><strong>Church of the Good Shepherd</strong></td>
			</tr>
			<tr>
				<td><strong>6-5-16</strong></td>
				<td><strong>3:00pm</strong></td>
				<td><strong>Concert</strong></td>
				<td><strong>St. Saviour Church</strong></td>
			</tr>
			<tr>
				<td>6-6-16</td>
				<td>7:30pm</td>
				<td>Business Meeting</td>
				<td>St. Saviour Church (Parish Hall)</td>
			</tr>
			<tr>
				<td>TBD</td>
				<td>TBD</td>
				<td>End-of-Season Picnic</td>
				<td>Prospect Park**</td>
			</tr>
		</table>
		

		<h5>**Location TBD or subject to change</h5>
		<h5>&diams;Singers MUST attend the dress rehearsal to sing in the concerts</h5>

	</div>
</div>