<div class="Background">
  <div class="About">

    <br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>Announcements</h2>
    <img class="join" src="<%= image_path "men_group.jpg" %>">

    <h3><em>As of February 23, 2020</em></h3>

    <p>Welcome, new members! This semester, we'll be singing various works around the theme of "Love and Remembrance".</p>

    <p>If you have yet to pay your dues for the semester, please pay Rick at your earliest convenience. Dues are $160, plus an additional $25 fee for this semester's music ($185 total). If you can't pay all at once, don't worry! You can set up a payment plan with Rick.</p>

    <p>You may also pay via our <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZULTQTC3NNE5Q&source=url" target="_blank"><u>PayPal donation link</u></a>. Please include your name and an additional $5 to cover the administrative fee (i.e., $190 total - you may split this into two payments of $95, if you prefer).</p>

    <br><br>
    <a href="/members/admin"><button>Admin Log-In</button></a>
  </div>
</div>