<div class="Background">
  <div class="About">

    <br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>Announcements</h2>

    <h3><em>As of September 3, 2017</em></h3>

    <p>Welcome back, singers! Our first rehearsal will be on Monday, September 11, from 7:30 to 10:00 in the parish hall of Saint Savior's.</p>

    <p>If you have yet to pay your dues for the semester, please pay Rick at your earliest convenience. Dues are $160 ($30 of which goes toward member tickets for this semester's concert). You may purchase your music for an additional fee.</p>

    <img id="rehearsal" src="<%= image_path "men_group.jpg" %>">
    <br><br>
    <a href="/members/admin"><button>Admin Log-In</button></a>
  </div>
</div>