<div class="Background">
	<div class="About">
		
		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>Concert Repertoire: Spring 2018</h2>

    <ul>
      <li>Mozart's <em>Requiem</em></li>
      <li>Schubert's <em>Mass in G</em></li>
    </ul>


    <h3>Rehearsal Tracks</h3>
    <p>Click <a href="http://www.partrecordings.com/honorchoir.php" target="_blank"><u>here</u></a> to access the rehearsal tracks for this semester's music. Please do not download unless you really need them, and don't download more than once (each download costs the choir $5.00). If you have any difficulty downloading, please contact Mark Robert Shaw directly at robertshaw@partrecordings.com and identify yourself as a Park Slope Singers member.</p>
    <ul>
      <li>Choir ID: ps18fall</li>
      <li>Password: schubert5432</li>
    </ul>

    <h3>Resources</h3>

    <p><a href="https://open.spotify.com/user/gretchenziegler/playlist/1ur8DHPpU1C9X5vSAXsD1f?si=wJY_p2KpTfuxZKI6j6mkVw" target="_blank"><u>Spotify Playlist</u></a></p>

    <p>If you have a video or recording of this semester's music that you would like to share here, please email it to Gretchen at gretchenziegler@gmail.com.</p>


	</div>
</div>