<div class="Background">
	<div class="About">
		
		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>Concert Repertoire: Fall 2017</h2>

    <h3>Click below to view and print this semester's music.</h3>
    <ul>
      <li><%= link_to "Missa Charles Darwin", "/darwin.pdf", target: "_blank" %></li>
      <li><%= link_to "I Have Had Singing", "/singing.pdf", target: "_blank" %></li>
      <li><%= link_to "Ego Flos Campi", "/ego_flos_campi.pdf", target: "_blank" %></li>
    </ul>

<!--     <h3>Rehearsal Tracks</h3>
    <p>Click <a href="http://www.partrecordings.com/honorchoir.php" target="_blank"><u>here</u></a> to access the rehearsal tracks for this semester's music. Please do not download unless you really need them, and don't download more than once (each download costs the choir $5.00).</p>
    <p>Choir ID: ps17spring</p>
    <p>Password: bach1234</p>

    <h3>Resources</h3>

    <p>If you have a video or recording of this semester's music that you would like to share here, please email it to Gretchen.</p> -->


	</div>
</div>