<div class="Background">
	<div class="About">
		
		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

		<h2>Concert Repertoire: Spring 2016</h2>

		<p class="text_wall"><a href="http://www.partrecordings.com/honorchoir.php" target="_blank">Download this semester's music</a> (Honor Choir ID: parkslope16, Password: brahms2232)<br>

    <%= link_to "View PDF of Track Listings", "/track_listings.pdf" %></p>

    <h3>Concert Order</h3>
    <h4>Click on the song title for a link to a recording.</h4>
    <ol>
      <li><a href="https://www.youtube.com/watch?v=fCIqhYvNkZg" target="_blank"><em>Schicksalslied</em></a>, Brahms [<a href="https://www.youtube.com/watch?v=4aN3LU33y5Y&feature=youtu.be" target="_blank">click here for a version with piano accompaniment</a>]</li>
      <li><a href="https://www.youtube.com/watch?v=23AmwhcU54c" target="_blank"><em>The Parting Glass</em></a>, arr. Wailin' Jennys (Women Only)</li>
      <li><a href="https://www.youtube.com/watch?v=6FslvyYAbfw" target="_blank"><em>Loch Lomond</em></a>, arr. Vaughan Williams (Men Only)</li>
      <li><a href="https://www.youtube.com/watch?v=vRblEg0wrS0" target="_blank"><em>My Gentle Harp</em></a>, Parker</li>
      <li><a href="https://www.youtube.com/watch?v=deOQlnMF59I" target="_blank"><em>The Road Home</em></a>, Paulus</li>
      <li><a href="https://www.youtube.com/watch?v=xE7zTYcn3Rw" target="_blank"><em>And I Saw a New Heaven</em></a>, Bainton</li>
      <li><a href="https://www.youtube.com/watch?v=zKOk_9czKbM" target="_blank"><em>Toward the Unknown Region</em></a>, Vaughan Williams</li>
    </ol>

		<image src="https://upload.wikimedia.org/wikipedia/commons/2/20/Rocky_Mountain_Landscape_by_Albert_Bierstadt,_1870.jpg" width="100%">

	</div>
</div>