<div class="Background">
	<div class="About">
		
		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>Concert Repertoire: Spring 2020</h2>

    <ul>
      <li><em>Bonjour Mon Coeur</em>, Orlando di Lasso</li>
      <li><em>Il est Bel et Bon</em>, Passereau</li>
      <li><em>My Bonny Lass</em>, Thomas Morley</li>
      <li><em>O Occhi, Manza Mia (O Eyes of My Beloved)</em>, Orlando di Lasso</li>
      <li><em>Funeral Ikos</em>, Tavener</li>
      <li><em>i carry your heart</em>, Eric Whitacre</li>
      <li><em>Love Songs</em>, Libby Larsen</li>
      <li><em>Lotus Lovers</em>, Stephen Paulus</li>
      <li><em>Bushes and Briars</em>, Ralph V. Williams</li>
      <li><em>Les Syrenes</em>, Lili Boulanger</li>
      <li><em>Kaddish</em>, Salamone Rossi</li>
      <li><em>An Exaltation of Birds</em>, Alice Parker</li>
    </ul>

    <h3>Downloads</h3>

    <p><em>Bonjour Mon Coeur:</em> <a href="http://www0.cpdl.org/wiki/images/0/01/CPDLBonjourmoncoeur.pdf" target="_blank"><u> Download PDF</u></a></p>
    <p><em>Il est Bel et Bon:</em> <a href="http://www1.cpdl.org/wiki/images/5/59/Pas-bel_et_bon.pdf " target="_blank"><u> Download PDF</u></a></p>
    <p><em>My Bonny Lass:</em> <a href="http://www1.cpdl.org/wiki/images/9/9c/Morley_My_bonny_lass.pdf" target="_blank"><u> Download PDF</u></a></p>
    <p><em>O Occhi, Manza Mia (O Eyes of My Beloved):</em> <a href="http://www2.cpdl.org/wiki/images/c/c3/O_occhi_Lasso.pdf" target="_blank"><u> Download PDF</u></a></p>
    <p><em>An Exaltation of Birds:</em> <a href="https://pdfhost.io/v/K7XbMdux_Finale_2006c_Alice_Parker_The_Birds_1MUS.pdf" target="_blank"><u> Download PDF</u></a></p>
    <p><em>Kaddish:</em> <a href="https://pdfhost.io/v/QlYPgVcG_982046D_KADDISH_ROSSI_SSATB_1_1PDF.pdf" target="_blank"><u> Download PDF</u></a></p>

    <h3>Rehearsal Tracks</h3>
    <p>Click <a href="http://www.partrecordings.com/honorchoir.php" target="_blank"><u>here</u></a> to access the rehearsal tracks for this semester's music. Please do not download unless you really need them, and don't download more than once (each download costs the choir $5.00). If you have any difficulty downloading, please contact Mark Robert Shaw directly at robertshaw@partrecordings.com and identify yourself as a Park Slope Singers member.</p>
    <ul>
      <li>Choir ID: ps2020spring</li>
      <li>Password: mozart9999</li>
    </ul>

    <h3>Resources</h3>

    <p><a href="https://open.spotify.com/playlist/3cKyM3kb7XUwbY7wuoIVVD" target="_blank"><u>Spotify Playlist</u></a> (courtesy of Margaret)</p>

    <p>If you have a video or recording of this semester's music that you would like to share here, please email it to Gretchen at gretchenziegler@gmail.com.</p>


	</div>
</div>