<div class="Background">
	<div class="About">
		
		<br>
		<nav class="members_nav">
			<a href="/members/<%= @member.id %>">Member Home</a> |  
			<a href="/members/tracks">Track Listings</a> |  
			<a href="/members/schedule">Schedule</a> | 
			<a href="/members/dress_code">Dress Code</a> | 
			<a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
		</nav>

		<h2>Track Listings</h2>

		<p><a href="http://www.partrecordings.com/assets/images/pdffiles/BrahmsRequiemPeters_Track_Breakdown.pdf" target="_blank">Click here to access the track listings for <em>Eine Deutsches Requiem</em> (The German Requiem) by Brahms.</a></p>

		<image src="https://upload.wikimedia.org/wikipedia/commons/1/11/Johannes_Brahms_1853.jpg" style="width:35%">

	</div>
</div>