<div class="Background">
	<div class="About">
		
		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>Concert Repertoire: Fall 2019</h2>

    <ul>
      <li><em>Lobet Den Herrn</em>, Bach</li>
      <li><em>Lutheran Mass in G Minor</em>, Bach</li>
      <li><em>Ode for the Birthday of Queen Anne</em>, Handel</li>
    </ul>

    <h3>Downloads</h3>

    <p>Click <a href="http://imslp.eu/files/imglnks/euimg/2/21/IMSLP482623-PMLP152213-bachNBAIII,1lobetdenherrn,alleheidenBWV230.pdf" target="_blank"><u>here</u></a> to download and print the PDF of <em>Lobet Den Herrn</em>.</p>


<!--     <h3>Rehearsal Tracks</h3>
    <p>Click <a href="http://www.partrecordings.com/honorchoir.php" target="_blank"><u>here</u></a> to access the rehearsal tracks for this semester's music. Please do not download unless you really need them, and don't download more than once (each download costs the choir $5.00). If you have any difficulty downloading, please contact Mark Robert Shaw directly at robertshaw@partrecordings.com and identify yourself as a Park Slope Singers member.</p>
    <ul>
      <li>Choir ID: ps18fall</li>
      <li>Password: schubert5432</li>
    </ul> -->

    <h3>Resources</h3>

    <p><a href="https://open.spotify.com/playlist/2hJtuqTWWYjn3NQIJxHYN7?si=D_-ifnc4SRyr1bNH2m2R8g" target="_blank"><u>Spotify Playlist</u></a></p>

    <p>If you have a video or recording of this semester's music that you would like to share here, please email it to Gretchen at gretchenziegler@gmail.com.</p>


	</div>
</div>